@{
    ViewBag.Title = "AbsenceReport";
    Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
}

@section Script{
    <script src="~/Scripts/amcharts.js"></script>
    <script src="~/Scripts/serial.js"></script>
    <script src="~/Scripts/light.js"></script>
    <script src="~/Content/Select2-3.5.3/select2.js"></script>

    }


@section MainContentHolder{
<link href="~/Content/Select2-3.5.3/select2.css" rel="stylesheet" />
<style>
    .select2-container {
        width: 300px;
    }

    .select2-choice {
        height: 35px !important;
    }
</style>

    <style>

        
         .page-wrapper-change {
            background-image: url('../../Images/body-bg.jpg');
            background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
            background-size: cover !important;
            background-position: 100% 100% !important;
            min-height: 850px !important;
        }

        .page-header {
            border-bottom: 4px solid #f9c751 !important;
    color: #fff;
        }
    </style>


<div class="row">
    <div class="col-lg-12">

        <div class="col-lg-12">
            <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                <i class="fa fa-bar-chart-o" aria-hidden="true"></i>&nbsp;Absence Report

                @*<span class="view-btn backto_listspan">

                    <a href="/EducationManager/EducationManagerDashboard" style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Back to Dashboard</a>
                </span>*@
            </h2>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Partialviews/_AbsenceReport.cshtml")
    }