@{
    ViewBag.Title = "AbsenceReport";
    Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
}

@section Script{
    <script src="~/Scripts/amcharts.js"></script>
    <script src="~/Scripts/serial.js"></script>
    <script src="~/Scripts/light.js"></script>
    <script src="~/Content/Select2-3.5.3/select2.js"></script>

    }


@section MainContentHolder{
<link href="~/Content/Select2-3.5.3/select2.css" rel="stylesheet" />
<style>
    .select2-container {
        width: 300px;
    }

    .select2-choice {
        height: 35px !important;
    }
</style>

    <style>

        
         .page-wrapper-change {
            background-image: url('../../Images/body-bg.jpg');
            background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
            background-size: cover !important;
            background-position: 100% 100% !important;
            min-height: 850px !important;
        }
         #page-wrapper h2{color: #fff; 
     border-color: #fff !important;}
    </style>


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Absence Report</h2>
    </div>
</div>


@Html.Partial("~/Views/Partialviews/_AbsenceReport.cshtml")
    }