@model FingerprintsModel.MatchProviderModel


@{

    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";

}

@section Title
{
    Match Providers
    
    }

@section MainContentHolder{

    

    @{ 

        Html.RenderPartial("~/Views/Partialviews/Referral/_MatchProvidersPartial.cshtml", Model);
    }





    <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog modal-width-change">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Referral Survey</strong></h4>
                </div>
                <div class="modal-body modal-height-change">
                    <div class="form_myfunction">
                        <div class="form-group refer_entry">
                            <h2>Quality of Referral</h2>
                            <ul style="border: 1px solid #ccc;">
                                <li><label>Date of Referral</label><span id="ReferralDate" style="display:inline-block;width:52%;"></span></li>
                                <li><label>Name</label><span id="Name" style="display:inline-block;width:52%;"></span></li>
                                <li><label>Service Resources</label><span id="ServicesName" style="display:inline-block;width:52%;"></span></li>
                                <li><label>Organization Name</label><span id="OrganName" style="display:inline-block;width:52%;"></span></li>
                            </ul>

                        </div>
                        <div class="form-group refer_entry">
                            <h2 style="margin-top:20px;">Questions</h2>
                            <div class="col-xs-12 referal-block" style="padding:0; border: 1px solid #ccc;">

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            @*<span id="errquestion1"></span>*@
                                            <label id="question1" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:12%;float:left;">

                                                <label class="radio-inline no-print"><input type="radio" value="Yes" name="answerradio1">Yes</label>
                                                <label class="radio-inline no-print"><input type="radio" value="No" name="answerradio1">No</label>

                                                <label class="print-answer hidden" style="font-weight:normal" id="answer1" />
                                            </span>
                                            <span class="error" id="errquestion1" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>If no, explain</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp1" class="no-print" disabled="disabled"></textarea><label class="print-answer hidden" style="font-weight:normal" id="answerlabel1"></label>
                                                <span class="error" id="errquestion1txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            <label id="question2" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:20%;float:left;">
                                                <label class="radio-inline"><input type="radio" value="Yes" name="answerradio2">Yes</label>
                                                <label class="radio-inline"><input type="radio" value="No" name="answerradio2">No</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio2">Not Applicable</label>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answer2" />
                                            </span>
                                            <span class="error" id="errquestion2" style="display:none; width: auto;float: left;padding: 0 8px;margin-left:0px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>

                                        </li>
                                        <li>
                                            <label>If no, explain</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp2" class="no-print" disabled="disabled"></textarea><label class="print-answer hidden" style="font-weight:normal" id="answerlabel2"></label>
                                                <span class="error" id="errquestion2txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            <label id="question3" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:20%;float:left;">
                                                <label class="radio-inline"><input type="radio" value="Excellent" name="answerradio3">Excellent</label>
                                                <label class="radio-inline"><input type="radio" value="Good" name="answerradio3">Good</label>
                                                <label class="radio-inline"><input type="radio" value="Fair" name="answerradio3">Fair</label>
                                                <label class="radio-inline"><input type="radio" value="Poor" name="answerradio3">Poor</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio3">Not Applicable</label>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answer3" />
                                            </span>
                                            <span class="error" id="errquestion3" style="display:none; width: auto;float: left;padding: 0 8px;margin-left:0px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>Explain any fair or poor answer</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp3" class="no-print" disabled="disabled"></textarea>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answerlabel3"></label>
                                                <span class="error" id="errquestion3txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="col-xs-12" style="padding:0px;">
                                    <ul>
                                        <li>
                                            <label id="question4" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:20%;float:left;">
                                                <label class="radio-inline"><input type="radio" value="Excellent" name="answerradio4">Excellent</label>
                                                <label class="radio-inline"><input type="radio" value="Good" name="answerradio4">Good</label>
                                                <label class="radio-inline"><input type="radio" value="Fair" name="answerradio4">Fair</label>
                                                <label class="radio-inline"><input type="radio" value="Poor" name="answerradio4">Poor</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio4">Not Applicable</label>
                                                <label class="print-answer" style="font-weight:normal" id="answer4" />
                                            </span>
                                            <span class="error" id="errquestion4" style="display:none; width: auto;float: left;padding: 0 8px;margin-left:0px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>Explain any fair or poor answer</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp4" class="no-print" disabled="disabled"></textarea>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answerlabel4"></label>
                                                <span class="error" id="errquestion4txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            <label id="question5" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:52%;">
                                                <label class="radio-inline"><input type="radio" value="Greatly improved the circumstance" name="answerradio5">Greatly improved the circumstance</label>
                                                <label class="radio-inline"><input type="radio" value="Adequately improved the circumstance" name="answerradio5">Adequately improved the circumstance</label>
                                                <label class="radio-inline"><input type="radio" value="Slightly improved the circumstance" name="answerradio5">Slightly improved the circumstance</label>
                                                <label class="radio-inline"><input type="radio" value="Poor" name="answerradio5">Poor</label>
                                                <label class="radio-inline"><input type="radio" value="Did not improve the circumstance at all" name="answerradio5">Did not improve the circumstance at all</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio5">Not Applicable</label>
                                                <label class="print-answer" style="font-weight:normal" id="answer5" />
                                            </span>
                                            <span class="error" id="errquestion5" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 397px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>Explain any fair or poor answer</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp5" class="no-print" disabled="disabled"></textarea>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answerlabel5"></label>
                                                <span class="error" id="errquestion5txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li><label id="question6" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:52%;"><textarea id="answerexp6" class="no-print"></textarea><label class="print-answer hidden" style="font-weight:normal" id="answerlabel6"></label></span></li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0px;">
                                    <ul>
                                        <li>
                                            <label>Date Completed (mm/dd/yyyy)</label><span style="display:inline-block;width:52%;">
                                                <input type="text" class="txt-date no-print" id="datecompleted" maxlength="10" style="width:100%;" />
                                                <label id="datecompletespan" style="font-weight:normal" class="print-answer hidden"></label>
                                                <span class="error" id="errquestion6" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div><div class="check_btn col-xs-12 no-padding text-center">

                                    <input type="button" id="SaveSurvey" value="Save" style="float:none;margin-bottom:20px!important;">
                                    <input type="button" id="Cancel" data-dismiss="modal" value="Cancel" style="float:none;margin-bottom:20px!important;">
                                    <input type="button" id="Matchprovider" value="Print" style="float:none;margin-bottom:20px!important;">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SuccessMatchProviders" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Record saved successfully!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" id="succesMatchClose" class="btn btn-default">Ok</button>
                </div>
            </div>
        </div>
    </div>



   

    <div class="modal fade" id="surveyAnswerError" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="answererror"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

 

    <!-----Reviews Modal-->
<div class="modal fade" id="reviewlist-modal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="">Review List</h4>
            </div>

            <div class="modal-body">


            </div>


        </div>

    </div>
</div>



        <!-----Modal start-->
<div id="myModalOrganization" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-width">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-bdr">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Referral Information</strong></h4>
            </div>
            <div class="modal-body col-xs-12">

                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Organization Name:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="refferedtomodal" class="refer-modal" style="font-weight:bold"></div>
                    </div>
                </div>

                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Resource Name:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="resourceNamemodal" class="refer-modal"></div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Address:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="streetModal" class="refer-modal" style="display: inline-block;"></div><div id="cityModal" class="refer-modal" style="display: inline-block;padding:0 5px;"></div><div id="stateModal" class="refer-modal" style="display: inline-block;"></div>
                    </div>
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">

                    </div>
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">

                    </div>

                </div>

                <div class="col-xs-12" style="padding-top:20px;">
                    <div class="col-xs-5"><div class="h5"><strong>Phone Number:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="phonenoModal" class="refer-modal"></div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-top:7px;">
                    <div class="col-xs-5"><div class="h5"><strong>Email:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="emailModal" class="refer-modal"></div>
                    </div>
                </div>

                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5" style="padding-top:0px;"><div class="h5"><strong>Service Resources:</strong></div></div>
                    <div class="col-xs-7" style="padding-top:0px;">
                        <div id="serviceModal" class="refer-modal"></div>
                    </div>
                </div>

                <div class="col-xs-12" style="padding-top:20px;">
                    <div class="col-xs-5" style="padding-top: 7px;">
                        <strong>Business Hours:</strong>
                    </div>
                    <div class="col-xs-7">

                        <div class="center-block">
                            <table style="margin:0;width:100%;">
                                <tr>
                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>HOURS</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>MON</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>TUE</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>WED</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>THU</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>FRI</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>SAT</td>

                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>SUN</td>

                                </tr>
                                <tr>
                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>FROM</td>
                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="monFrmHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="tueFrmHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="wedFrmHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="thuFrmHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="friFrmHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="satFrmHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="sunFrmHours"></td>
                                </tr>
                                <tr>
                                    <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>TO</td>
                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="monToHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="tueToHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="wedToHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="thuToHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="friToHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="satToHours"></td>

                                    <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="sunToHours"></td>
                                </tr>
                            </table>
                        </div>
                    </div>



                </div>

                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Gender Served:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="genderservedModal" class="refer-modal"></div>
                    </div>
                </div>

                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Ages Served:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="ageservedModal" class="refer-modal"></div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Fees:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="feesModal" class="refer-modal"></div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Payment Options:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="paymentsModal" class="refer-modal"></div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-5"><div class="h5"><strong>Do you need an appointment?:</strong></div></div>
                    <div class="col-xs-7">
                        <div id="appointmentModal" class="refer-modal"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 15px;">Close</button>
            </div>
        </div>

    </div>
</div>
<!---Modal end-->

<div class="modal fade" id="updateChangeModalAlert" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updatealert"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="updatealertConfirm">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="updatealertCancel">Cancel</button>
            </div>
        </div>

    </div>
</div>


  

    <script>

        $("body").on('keyup', '.txt-date', function (e) {

            flags = 0;
            if (e.keyCode != 193 && e.keyCode != 111) {
                if (e.keyCode != 8) {
                    if ($(this).val().length == 2) {
                        $(this).val($(this).val() + "/");
                    } else if ($(this).val().length == 5) {
                        $(this).val($(this).val() + "/");
                    }
                } else {
                    var temp = $(this).val();
                    if ($(this).val().length == 5) {
                        $(this).val(temp.substring(0, 4));
                    } else if ($(this).val().length == 2) {
                        $(this).val(temp.substring(0, 1));
                    }
                }
            } else {
                var temp = $(this).val();
                var tam = $(this).val().length;
                $(this).val(temp.substring(0, tam - 1));
            }


        });

        var flags = 0;

        $('body').on("keydown", "#datecompleted,.txt-date", function (e) {
            flags++;
            if (flags > 1) {
                e.preventDefault();
            }

            //var regex = /^[0-9]*(?:\.\d{1,2})?$/;


            //if( !regex.test(e.value) ) {
            //    return false;
            //}

            var key = e.charCode || e.keyCode || 0;

            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (key == 8 || key == 9 || key == 13 || key == 46 || key == 37 || key == 39 ||
                key == 35 || key == 36 || key == 110 || key == 190 || key == 191 ||
               (key >= 96 && key <= 111 || key >= 48 && key <= 57 && !e.shiftKey));
            //(e.which == keyCode.ENTER)


            var owner = this,
          pps = owner.properties,
          charCode = e.which || e.keyCode || e.charCode || 0;

            // hit backspace when last character is delimiter

            if (Util.isAndroid() &&
                e.target.value.length &&
                e.target.value.length === this._lastEventValue.length - 1 &&
                Util.isDelimiter(pps.result.slice(-1), pps.delimiter, pps.delimiters)
            ) {
                e.charCode = 8;
            }
            if (e.charCode === 8 &&
                Util.isDelimiter(pps.result.slice(-1), pps.delimiter, pps.delimiters)) {
                pps.backspace = true;
            }
            else {
                pps.backspace = false;
            }
            this._lastEventValue = e.target.value;

        });


    </script>
}
