@model FingerprintsModel.REF
@{
    ViewBag.Title = "ReferralCategorycompany";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
   
}

@section Title
{
    Referral Category Company
    
    }


@section MainContentHolder{


    @{ 

        Html.RenderPartial("~/Views/Partialviews/Referral/_ReferralCategoryCompanyPartial.cshtml", Model);
    }


    <div class="modal fade" id="referralCompanyModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="referralError"></h4>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>





  
}


