/*Main View CSS START*/
    #page-wrapper {
        background-color: #fff;
        min-height: 568px;
        padding: 45px 15px 0;
    }

    .multiselect-clear-filter {
        padding-top: 10px;
    }


    #ulPaging a[disabled="disabled"]  {
        pointer-events: none;
    }

     .pagination li a[disable="disabled"]{
         pointer-events:none;
     }



    .table-outer {
        padding: 0;
        max-width: 1099px;
        overflow-x: auto;
        position: relative;
    }

    .table-outer, .table-wrapper, .table-main {
        padding: 0;
    }

    #screening-followup-table thead th {


        white-space: nowrap;
        padding: 9px;
        text-transform: none;
    }

    #myTabContent .tab-content{
        margin-bottom:20px;
    }

    #myTabContent .tab-pane .glossy-table thead tr th:first-child{
        width:20%;
    }
     #myTabContent .tab-pane .glossy-table thead tr th:nth-child(2){
        width:20%;
    }

     #table-substituterole tbody tr td:nth-child(2) p
     {
         width:200px;
     }
      #table-substituterole tbody tr td:nth-child(1) p
     {
         width:193px;
     }



    i.btn-edit-trans {
    cursor: pointer;
    font-size: 18px;
    background: #295b8f;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
}

    i.btn-delete-trans {
    cursor: pointer;
    font-size: 18px;
    background: #e74c3c;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
}

/*Main View CSS End*/


/*Partial View CSS START*/


    #report-table-responsive .panel-primary {
        padding-left: 0;
        padding-right: 0;
    }

    #report-table-responsive #myTabContent {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .table-back-shadow {
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    #screeningMatrix-table tbody tr > td:first-child p, #screeningMatrix-table .td-screeningname > p {
        width: 225px !important;
    }

    .total-details-table {
        width: auto;
        float: right;
    }

        .total-details-table tr, .total-details-table td {
            padding: 0 10px;
            line-height: 25px;
        }

            .total-details-table tr td label {
                color: #1d5381;
            }


    .search-block, .glossy-search-block {
        width: auto;
        display: inline-block;
        float: left;
        margin-right: auto;
     
    }



        .search-block button {
            font-size: 18px;
            text-transform: capitalize;
            text-align: center;
            display: inline-block;
            border-radius: 0 !important;
            font-size: 14px;
            background: #215785;
            color: #fff;
            border: none;
            margin: 0;
            border-radius: 4px;
            width: auto;
            padding: 7px 14px;
            margin: auto;
            font-weight: bold;
            line-height: 20px;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }

        .search-block input {
            float: left;
            color: #333;
            font-size: 14px;
            margin-right: 0;
            width: 335px;
            line-height: 32px;
            height: 32px;
            padding: 7px 10px;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }






    span.multiselect-native-select .dropdown-toggle {
        z-index: unset !important;
    }

    .multiselect-native-select ul.multiselect-container.dropdown-menu {
        z-index: 9999999 !important;
    }

    .input-group.date .datepicker-icon {
        cursor: pointer;
        border-color: #7e50b7 #684494 #5d3e84 !important;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        text-shadow: 0 1px #7e50b7;
        background-color: #5f477d;
    }

        .input-group.date .datepicker-icon span {
            color: #fff;
        }




    @media (min-width: 400px) and (max-width: 748px) {
        .search-block input, .glossy-search-block input {
            width: 225px;
        }

        span.multiselect-native-select .dropdown-toggle {
            z-index: unset !important;
        }

        .multiselect-native-select ul.multiselect-container.dropdown-menu {
            z-index: 9999999 !important;
        }
    }

    @media (min-width:320px) and (max-width:1199px)
    {
        #div-filter-section .form-group{
            margin-bottom:20px!important;
        }
    }

    @media (min-width:320px) and (max-width:1200px)
    {
       .glossy-table{
           box-shadow:unset;
           -webkit-box-shadow: unset;
           padding:0;
        }

       .search-block-main{
           padding:inherit!important;
           display:block;
       }
    }



    @media (min-width: 768px) and (max-width: 991px) {
        .search-block input, .glossy-search-block int {
            width: 81% !important;
        }
    }




    .bootstrap-dialog-footer-buttons > button:nth-child(1) {
    margin-right: 10px;
}

.bootstrap-dialog-title {
    margin-top: 15px;
}


/*Partial View CSS END*/
