/*Main View CSS START*/



/*Attendance Details Model CSS*/
#modal-child-attendance .addapplicant {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #295b8f;
    color: #295b8f;
    padding: 5px 0;
    margin: 0 15px;
}

#modal-child-attendance .form-group {
    margin-bottom: 15px !important;
}

#modal-child-attendance .attendance-details-container {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 0;
    border-radius: 5px 5px 0px 0px;
}



/*.accordion-desc[style*="visible"] {  
  color: green; 
}*/


/*Attendance Details Model CSS*/

/*Legend information css*/

/* basic positioning */
.div-info {
    padding: 10px 40px 0px;
}

.info-legend {
    list-style: none;
    float: right;
}

    .info-legend li {
        float: left;
        margin-right: 10px;
    }

    .info-legend span {
        border: 1px solid #ccc;
        float: left;
        width: 12px;
        height: 12px;
        margin: 2px;
    }
    /* your colors */
    .info-legend .withdrawn {
        background-color: rgb(255, 0, 0);
        margin-right: 10px;
    }

    .info-legend .enrolled {
        background-color: rgb(0, 0, 0);
        margin-right: 10px;
    }
/*.info-legend .kindaawesome { background-color: #0000ff; }
.info-legend .notawesome { background-color: #000000; }*/
/*Legend information css*/

.multiselect-clear-filter {
    padding-top: 10px;
}


#ulPaging a[disabled="disabled"] {
    pointer-events: none;
}

.pagination li a[disable="disabled"] {
    pointer-events: none;
}


#myTabContent .tab-content {
    margin-bottom: 20px;
}

#myTabContent .tab-pane .glossy-table thead tr th
{
    height:61px;
}

/*#myTabContent .tab-pane .glossy-table thead tr th:first-child {
    width: 20%;
}*/

#myTabContent .tab-pane .glossy-table thead tr th:nth-child(2) {
    width: 20%;
}

table#table-report > tbody tr > td.child-td p {
    width: 178px;
}

table#table-report > tbody tr > td.class-td p {
    /*width: 100%;*/
    text-align: center;
}


table#table-report > tbody tr > td.dob-td p {
    width: 120px;
}

table#table-report > th:nth-child(1), table#table-report > th:nth-child(2), table#table-report > th:nth-child(4) {
    width: 5%;
}

table#table-report > th:nth-child(3) {
    width: 7%;
}


.glossy-search-block .glossy-remove-btn-div {
    width: auto;
    display: inline-block;
    background: none;
    padding: 0;
    float: left;
    position: relative;
}

    .glossy-search-block .glossy-remove-btn-div button {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        background: #215785;
    }

.glossy-search-block #searchReportText {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

i.btn-edit-trans {
    cursor: pointer;
    font-size: 18px;
    background: #295b8f;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
}

i.btn-delete-trans {
    cursor: pointer;
    font-size: 18px;
    background: #e74c3c;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
}

/*Main View CSS End*/


/*Partial View CSS START*/



#report-table-responsive #myTabContent {
    padding-top: 30px;
    padding-bottom: 30px;
}

#report-table-responsive .panel-primary {
    padding-left: 0;
    padding-right: 0;
}

.table-back-shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.multiselect-native-select li.active label.checkbox {
    color: #fff !important;
}

a[disabled] {
    pointer-events: none;
}


.total-details-table {
    width: auto;
    float: right;
    margin-right: 2%;
}

    .total-details-table tr, .total-details-table td {
        padding: 0 10px;
        line-height: 25px;
    }

        .total-details-table tr td label {
            color: #1d5381;
        }


span.multiselect-native-select .dropdown-toggle {
    z-index: unset !important;
}

.multiselect-native-select ul.multiselect-container.dropdown-menu {
    z-index: 9999999 !important;
}

@media (min-width: 400px) and (max-width: 748px) {
    .search-block input, .glossy-search-block input {
        width: 225px;
    }

    span.multiselect-native-select .dropdown-toggle {
        z-index: unset !important;
    }

    .multiselect-native-select ul.multiselect-container.dropdown-menu {
        z-index: 9999999 !important;
    }
}

@media (min-width:1340px) and (max-width:1378px) {
    table#table-report > tbody tr > td.child-td p {
        width: 250px;
    }
}


@media (min-width:320px) and (max-width:1199px) {
    #div-filter-section .form-group {
        margin-bottom: 20px !important;
    }

    table#table-report > tbody tr > td.class-td p {
        text-align: right;
    }

    table#table-report > tbody > tr > td.class-td:before {
        content: "";
    }

    /*table#table-report > tbody > tr > td.class-td {
        background-color: #174370;
        color: #fff;
        margin-bottom: 33px;
        border-bottom: unset;
    }*/
}

@media (min-width:320px) and (max-width:1200px) {
    .glossy-table {
        box-shadow: unset;
        -webkit-box-shadow: unset;
        padding: 0;
    }

    .search-block-main {
        padding: inherit !important;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    .search-block input, .glossy-search-block int {
        width: 81% !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .total-details-table {
        width: auto;
        float: left !important;
        margin-top: 20px;
    }
}



.glossy-right-side-container .search-block-main
{
    display:block;
}

.bootstrap-dialog-footer-buttons > button:nth-child(1) {
    margin-right: 10px;
}

.bootstrap-dialog-title {
    margin-top: 15px;
}


@media (max-width: 991px) and (min-width: 768px) {
    .search-block input, .glossy-search-block input {
        width: 81% !important;
    }
}


@media only screen and (max-width: 760px), (max-device-width: 1200px) and (min-device-width: 768px) {
    .custom-modal-table, .custom-modal-table thead, .custom-modal-table tbody, .custom-modal-table th, .custom-modal-table td, .custom-modal-table tr {
         /*display:normal;*/
        border: none;
    }


    #modal-child-attendance .custom-modal-table {
    display:table;
    
    }
      #modal-child-attendance .custom-modal-table thead {
    display:table-header-group
    
    }

       #modal-child-attendance .custom-modal-table tr {
    display:table-row;
    
    }
       #modal-child-attendance .custom-modal-table td{
           display:table-cell;
       }

        #modal-child-attendance .custom-modal-table tbody{
           display:table-header-group;
       }



    .glossy-table tr:nth-child(odd) {
        background: #ffffff;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
}

 

/*Partial View CSS END*/
