/*Main View CSS START*/
    #page-wrapper {
        background-color: #fff;
        min-height: 568px;
        padding: 45px 15px 0;
    }

    .multiselect-clear-filter {
        padding-top: 10px;
    }






/*Main View CSS End*/


