/*Main View CSS START*/
#page-wrapper {
    background-color: #fff;
    min-height: 568px;
    padding: 45px 15px 0;
}

.multiselect-clear-filter {
    padding-top: 10px;
}


.activity-fieldset {
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px solid #c0c0c0;
    margin-bottom: 30px;
}

.activity-legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #cfcfcf;
    line-height: 30px;
}

i.btn-delete-trans {
    cursor: pointer;
    font-size: 18px;
    background: #e74c3c;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
}

i.btn-edit-trans {
    cursor: pointer;
    font-size: 18px;
    background: #295b8f;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
}



#div-textarea-desc-group textarea {
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-a-add {
    margin-top: 2%;
}


#ulPaging a[disabled="disabled"] {
    pointer-events: none;
}

/*Main View CSS End*/


/*Partial grid Recruitment Activity Lookup CSS*/

.table-back-shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}





.total-details-table {
    width: auto;
    float: right;
}

    .total-details-table tr, .total-details-table td {
        padding: 0 10px;
        line-height: 25px;
    }

        .total-details-table tr td label {
            color: #1d5381;
        }



.search-block, .glossy-search-block {
    width: auto;
    display: inline-block;
    float: left;
    margin-right: auto;
    /*margin-top: 70px;*/
}


    .search-block button {
        font-size: 18px;
        text-transform: capitalize;
        text-align: center;
        display: inline-block;
        border-radius: 0 !important;
        font-size: 14px;
        background: #215785;
        color: #fff;
        border: none;
        margin: 0;
        border-radius: 4px;
        width: auto;
        padding: 7px 14px;
        margin: auto;
        font-weight: bold;
        line-height: 20px;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .search-block input {
        float: left;
        color: #333;
        font-size: 14px;
        margin-right: 0;
        width: 335px;
        line-height: 32px;
        height: 32px;
        padding: 7px 10px;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }


#daily-health-check-tbody tr td p.with-agency {
    width: 240px;
    max-width: 250px;
}

#daily-health-check-tbody tr td:nth-child(1) p.no-agency {
    width: 500px;
    max-width: 550px;
}

#modal-daily-observation textarea{

    width:100%;
    min-height:100px;
    line-height:normal;
    padding:15px;
}
#div-pagination-recruitment-activities
{
    padding:0px 30px;
}

.glossy-search-block
{
    padding-left:15px;
}

i.btn-made-all {
    cursor: pointer;
    font-size: 18px;
    background: #1ca913;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
    margin-left:36%;
}

i.btn-to-all {
    cursor: pointer;
    font-size: 18px;
    background: #d24a3e;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 8px;
    margin-left:36%;

}



@media (min-width: 400px) and (max-width: 748px) {
    .search-block input, .glossy-search-block input {
        width: 225px;
    }

    span.multiselect-native-select .dropdown-toggle {
        z-index: unset !important;
    }

    .multiselect-native-select ul.multiselect-container.dropdown-menu {
        z-index: 9999999 !important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .search-block input, .glossy-search-block int {
        width: 81% !important;
    }
}

@media (min-width:1201px) and (max-width:1344px) {
    table#daily-health-check-table tbody tr td:nth-child(1) > p {
        width: 320px !important;
    }


    table#daily-health-check-table tbody tr td:nth-child(2) > p {
        width: 260px !important;
    }

    table#daily-health-check-table tbody tr td:nth-child(1) {
        width: 38%;
    }
}

@media (min-width:320px) and (max-width:1199px) {
    table#daily-health-check-table tbody tr td:nth-child(1) > p {
        width: 85% !important;
    }


    table#daily-health-check-table tbody tr td:nth-child(2) > p {
        width: 100% !important;
    }

    table#daily-health-check-table tbody tr td:nth-child(1) {
        width: 100%;
    }

    table#daily-health-check-table tbody tr td:nth-child(2) {
        width: 100%;
    }

    .activity-legend {
        width: 60%;
    }
}

@media(min-width:320px) and (max-width:1137px)
{
    .search-block-main{
        display:block;
    }

}

@media(min-width:320px) and (max-width:890px)
{
    .glossy-search-block input{
        width:70%;
    }
}


@media (min-width:320px) and (max-width:1200px) {
    table#daily-health-check-table tbody tr:nth-child(1) {
        margin-top: 2em;
    }

    table.glossy-table {
        box-shadow: unset;
        -webkit-box-shadow: unset;
    }

    .search-block-main {
        padding-left: 16px !important;
    }

    .glossy-right-side-container .search-block-main{
        display:block!important;
    }

    table.total-details-table{
            margin-top: 35px;
    margin-bottom: -25px;
    margin-right: 15px;
   
    }
    p.no-agency select{
        width:auto;
    }
}







span.multiselect-native-select .dropdown-toggle {
    z-index: unset !important;
}

.multiselect-native-select ul.multiselect-container.dropdown-menu {
    z-index: 9999999 !important;
}



.input-group.date .datepicker-icon span {
    color: #fff;
}



.bootstrap-dialog-footer-buttons > button:nth-child(1) {
    margin-right: 10px;
}

.bootstrap-dialog-title {
    margin-top: 15px;
}
/*END*/










