
 .add-useragform {
    width: 100%;
    float: left;
}
 
        .import_ft_files {
            width: 69%;
            float: right;
        }

        div#section_attachment label {
            width: 26%;
            float: left;
        }

        div#section_attachment input {
            width: 35.8% !important;
            float: left;
        }

        div#section_attachment .adddivspace {
            width: auto;
            float: left !important;
            margin-left: 13px;
        }

        div#ClientDiv div {
            padding: 0;
        }

        div#section_attachment {
            padding: 0 15px;
        }

        /*div#StaffDiv {
            background-color: #fff;
        }*/

            div#StaffDiv div {
                padding: 0;
            }

        .import_ft_files input {
            width: 52% !important;
            margin-right: -4px;
        }

        .some_attach {
            padding: 10px;
        }

        div#Houselessmodal label {
            /*color: #295b8f;*/
            color: #333;
        }
       .ic_case_note input {
    width: 66% !important;
    padding: 6px 12px;
}
       .mlt_spaces {
    margin-top: 15px;
    display: inline-block;
}
        div#section_attachment .icc_camera label {
            width: 22%;
            float: left;
        }

        div#section_attachment .icc_camera input {
            width: 38% !important;
            float: left;
        }
        .mmt_bottom {
    margin-bottom: 15px;
    display: inline-block;
}
        .mt-bmn span {
    padding: 10px 0;
    display: inline-block;
}
.icc_label {
font-weight: 600 !important;
color: #333 !important;
}