
/*Transition Clients*/
tr.datas td {
    width: 11.11%;
}

.insert-client span {
    float: left;
    width: 100%;
    text-align: right;
    padding: 20px 0 0;
}

.fold-table .open {
    display: table-row;
    background-color: #be7f36;
}

.edu_class_room {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 30px;
}

.edu_clrtable {
    width: 100%;
    float: left;
    padding: 15px;
    background-color: #fff;
    border-radius: 7px;
}

    .edu_clrtable table tbody tr td {
        color: #163b69;
        text-align: center;
    }

td.edu_chk {
    color: #27ae60 !important;
}

td.edu_ntchk {
    color: #c0392b !important;
}

.edu_clrtable table thead tr th {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

.edu_clrm_head {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

td.edu_pinpart img {
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.edu_clrtable table tbody tr td:first-child {
    text-align: left;
}

.edu_clrm_head h3 {
    background-color: #f9c751;
    color: #000;
    padding: 15px;
    border-radius: 7px;
    font-weight: 600;
}

.edu_clrm_head small {
    color: #000;
}

.page-wrapper-change {
    background: url(../../Images/body-bg.png) center no-repeat #1f4873 !important;
    background-size: cover !important;
    background-position: 100% 100% !important;
}

.edu_class_room {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 30px;
}

.edu_clrm_head.trasit-setup {
    width: 100%;
    float: left;
    margin-bottom: 24px;
}

    .edu_clrm_head.trasit-setup h3 {
        background-color: #1abc9c;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 0;
    }

.form-group.trans-select-edu label {
    float: left;
    width: 100%;
    padding: 0 15px;
    letter-spacing: 0.5px;
    color: #fff;
}

.trans-select-edu {
    margin-bottom: 15px !important;
}

.btn-yellow-edu {
    background-color: #f9c751;
    color: #000;
    font-weight: 600 !important;
    padding: 8px 24px !important;
    font-size: 16px;
    height: 40px;
}

.form-group.trans-select-edu select option {
    background-color: #163d6d;
}

.form-group.trans-select-edu select {
    width: 100%;
    float: left;
    outline: none !important;
    margin: 0 15px;
    cursor: pointer;
    height: 40px;
    background-color: transparent;
    border-radius: 4px !important;
    color: #fff;
    -webkit-appearance: none;
    /*background: url("../images/class-room/white-dropdown.png")*/
    background: url('../../Images/white-dropdown.png') no-repeat 97% center;
    font-weight: 600;
}

.edu-semi-table {
    width: 100%;
    float: left;
    background-color: #f1f5f8;
    padding: 15px;
    border-radius: 4px;
    overflow: visible;
}

    .edu-semi-table table {
        margin-bottom: 0;
    }

        .edu-semi-table table thead {
            background-color: #9b59b6;
            color: #fff;
        }

.edu_transit_body {
    width: 100%;
    float: left;
}

.edu-inner-quest tbody tr td {
    margin-bottom: 0;
    padding: 7px;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    position: relative;
}

td.passed {
    background-color: #2ecc71 !important;
}

.question-edu {
    position: absolute;
    width: 400px;
    /*background-color: #2c3e50;*/
    left: -269px;
    top: 36px;
    padding: 10px;
    border-radius: 4px !important;
    border: 3px solid #f0f0f0;
    /*box-shadow: 0 0 7px 1px #ccc;*/
    /*color:#295b8f;*/
    z-index: 99999;
    font-weight: bold;
}

div#partialDiv table tbody tr.view:last-child .question-edu::after {
    transform: rotate(90deg);
    top: inherit;
    right: 76px;
    bottom: -22px;
}

div#partialDiv table tbody tr.view:last-child ~ .question-edu {
    bottom: 39px;
    left: -269px;
    top: inherit;
}

.question-edu-ch {
    left: 86px !important;
}

.form-group.edu-radio-rai {
    position: relative;
}

.form-group.edu-radio-rai {
    position: relative;
    padding-top: 14px;
}


.import-transits-set {
    margin-top: 24px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .form-group.trans-select-edu select {
        width: 100%;
        float: left;
        margin: 0 0 15px 0 !important;
    }

    .import-transits-set {
        width: 100%;
        float: left;
        text-align: center;
    }
}



.edu_clrm_head.ntf_email {
    text-align: center;
    text-transform: uppercase;
}

.btn-edu-exit {
    background-color: #e74c3c;
    border-radius: 0 !important;
    color: #fff !important;
    padding: 7px 15px !important;
    outline: none !important;
}

.btn-edu-sucess {
    background-color: #2ecc71;
    border-radius: 0 !important;
    color: #fff !important;
    padding: 7px 15px !important;
    outline: none !important;
}

.yarkk-nthg {
    width: 100%;
    float: left;
    background: #f1f5f8;
    padding: 15px;
    margin-top: 24px;
    border-radius: 7px;
}

.yarkk-ttable {
    width: 100%;
    float: left;
    margin-top: 24px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 7px;
}

    .yarkk-ttable table {
        margin-bottom: 0;
    }

        .yarkk-ttable table thead tr {
            background-color: #2d3e50;
            color: #fff;
        }

td.yarkk-edit i {
    background-color: #33485d;
    color: #fff;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group.yark-contnt {
    width: 100%;
    float: left;
    margin-bottom: 25px !important;
}

.my-fieldset {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

    .my-fieldset span {
        background-color: #164778;
        color: #fff;
        padding: 10px;
        margin: 5px 10px 5px 0;
        border-radius: 7px;
        width: auto;
        float: left;
        word-break: break-word;
        line-height: 17px;
    }

        .my-fieldset span i {
            padding-left: 20px;
            cursor: pointer;
        }

.form-group.yark-contnt label {
    color: #163b69;
}

.yarkk-ttable table tbody td {
    color: #397ab7;
    text-align: center;
    font-weight: 600;
}
/*Transition Clients*/

.newlist {
    display: none;
}



/*New Tabele Change Staart*/




.fold-class thead tr {
    background-color: #748696 !important;
}

.fold-class th {
    border: 1px solid #fff;
}

table {
    width: 100%;
}

    table th {
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    table th, table td {
        padding: .4em;
    }

    table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
        cursor: pointer;
    }

        table.fold-table > tbody > tr.view td:first-child,
        table.fold-table > tbody > tr.view th:first-child {
            position: relative;
            padding-left: 20px;
        }

            table.fold-table > tbody > tr.view > td:first-child:before,
            table.fold-table > tbody > tr.view th:first-child:before {
                position: absolute;
                top: 50%;
                left: 5px;
                width: 9px;
                height: 16px;
                margin-top: -8px;
                font: 16px fontawesome;
                color: #999;
                content: "\f0d7";
                transition: all .3s ease;
            }


    table.fold-table > tbody > tr.view.open-class.open td:first-child:before,
    table.fold-table > tbody > tr.view.open-class.open th:first-child:before {
        position: absolute;
        top: 50%;
        left: 5px;
        width: 9px;
        height: 16px;
        margin-top: -8px;
        font: 16px fontawesome;
        color: #fff;
        content: "\f0d7";
        transition: all .3s ease;
    }

    table.fold-table > tbody > tr.view:nth-child(4n-1) {
        background: #eee;
    }

    /*table.fold-table > tbody > tr.view>td:first-child :hover {
                color: #fff;
            }*/

    table.fold-table > tbody > tr.view > td:first-child:hover {
        color: #fff;
        background: #174b7b;
    }

    table.fold-table > tbody > tr, table.fold-table > tbody > tr > td, table.fold-table > tbody > tr > td > p {
        color: #337ab7;
    }




        table.fold-table > tbody > tr.view.open, table.fold-table > tbody > tr.view.open > td, table.fold-table > tbody > tr.view.open > td > p {
            background: #00adce !important;
            color: #fff !important;
        }

            table.fold-table > tbody > tr.view.open.open-class, table.fold-table > tbody > tr.view.open.open-class > td, table.fold-table > tbody > tr.view.open.open-class > td > p {
                background: #1b4c45 !important;
                color: #fff !important;
            }

            table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
                transform: rotate(-180deg);
                color: #333;
            }

        table.fold-table > tbody > tr.fold {
            display: none;
        }

            table.fold-table > tbody > tr.fold.open {
                display: table-row;
                background-color: #be7f36;
            }

.fold-class {
    background-color: #178c57 !important;
    color: #fff;
}


.fold-content {
    padding: .5em;
}

    .fold-content h3 {
        margin-top: 0;
    }

    .fold-content > table {
        border: 2px solid #ccc;
    }

        .fold-content > table > tbody tr:nth-child(even) {
            background: #eee;
        }

.wl-remove {
    padding: 27px 0 10px;
    display: inline-block;
}

.class-pair_section {
    width: 100%;
    float: left;
    background-color: rgb(255, 255, 255);
    padding: 15px 0;
    border-radius: 7px;
    box-shadow: 0 0 3px 1px #ccc;
}

.bg-openclass > td {
    background-color: #f7cbcb !important;
}

.fld_center {
    margin: auto;
    max-width: 710px;
    width: 100%;
    display: block;
}

div#searchByNameDiv label {
    max-width: auto !important;
    width: auto;
    float: left;
    color: #fff;
    padding: 10px;
}

tr.view.ctr-view td::before {
    top: 38% !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .fld_center input {
        float: left;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .fld_center {
        margin: auto;
        max-width: 100%;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

        .fld_center > label {
            width: 100% !important;
        }

        .fld_center button {
            margin-top: 15px;
        }

        .fld_center > input {
            margin: auto;
        }

    .res_moto {
        margin-bottom: 3px;
    }

    .pagination li select {
        height: 34px !important;
    }
}

/*New Table Change End*/


label {
}

.ful-width-edu {
    width: 100% !important;
    float: left;
    min-height: auto !important;
}

    .ful-width-edu label {
        margin-bottom: 0 !important;
        width: 100%;
        float: left;
        padding-bottom: 0 !important;
    }

    .ful-width-edu:last-child {
        padding-bottom: 12px;
    }

.insert-sort .form-group button i {
    font-size: 16px;
    margin-right: 5px;
}

.insert-sort .form-group input {
    height: 36px;
    padding: 7px 12px;
    width: 235px;
    max-width: 100%;
}

.insert-sort .form-group button {
    height: 36px;
    background-color: #215885;
    border: 0;
    padding: 7px 12px;
    margin-left: -4px;
    color: #fff;
}

.withdrawal-header h4 {
    text-decoration: underline;
    display: inline-block;
}


.sec-edu-radio.family-sr-rad .col-xs-6.col-sm-2 {
    padding: 6px 8px;
    margin-right: 5px;
}

    .sec-edu-radio.family-sr-rad .col-xs-6.col-sm-2 input[type="checkbox"] {
        margin-left: -14px !important;
    }

p.qn-p {
    padding-top: 12px;
}

.question-edu-inner {
    background-color: #dcd8a2;
    width: 100%;
    float: left;
    color: black;
}

.question-edu {
    background-color: #338dcd;
    border: 0px;
}

    .question-edu::after {
        position: absolute;
        content: "\27A7";
        font-size: 32px;
        top: -23px;
        right: 76px;
        /* color: #2c3e50; */
        color: #338dcd;
        transform: rotate(-90deg);
    }


.sec-edu-radio .form-group {
    width: 100%;
    float: left;
}

.sec-edu-radio {
    background-color: #f4f7f8;
    width: 85%;
    float: none;
    margin: 15px auto;
    display: inline-block;
    border-radius: 8px;
}

    .sec-edu-radio .form-group {
        width: 50%;
        float: left;
    }

        .sec-edu-radio .form-group input {
            float: left;
            visibility: hidden;
            display: none;
        }

        .sec-edu-radio .form-group label {
            color: #2c3e50;
            margin-left: 45px;
            text-align: left;
            cursor: pointer;
            padding-bottom: 15px;
            margin-bottom: 0;
        }

.part_edubtn {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

    .part_edubtn button.btn-edu-sucess {
        margin-right: 20px;
    }

.sec-edu-radio .form-group label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #2c3e50;
    position: absolute;
    border-radius: 100%;
    left: 20px;
}

.sec-edu-radio .form-group input:checked ~ label::after {
    content: "";
    position: absolute;
    border: 4px solid #2c3e50;
    width: 15px;
    height: 15px;
    left: 20px;
    border-radius: 100%;
}

.sec-edu-radio .form-group-change input:checked ~ label::after {
    top: 14px;
}

tr.fold > td {
    padding: 12px !important;
}

ul.withdrawal-days li {
    list-style: none;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 21px;
}

    ul.withdrawal-days li::before {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        background-color: red;
        top: 3px;
        left: 0;
    }

    ul.withdrawal-days li:nth-child(1)::before {
        background-color: #e67e22;
    }

    ul.withdrawal-days li:nth-child(2)::before {
        background-color: #e74c3c;
    }

    ul.withdrawal-days li:nth-child(3)::before {
        background-color: #2c3e50;
    }

ul.withdrawal-days {
    width: 100%;
    float: left;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.no-padding {
    padding: 0;
}

.question-edu-ch::after {
    top: -5px !important;
    left: -12px !important;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    right: auto !important;
}

.page-wrapper-change {
    padding-top: 0 !important;
    margin-top: 50px;
    overflow: auto;
    min-height: 100% !important;
}

body {
    overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .edu_class_room {
        margin-top: 70px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .edu_class_room {
        margin-top: 70px;
    }

    .padding-responsive {
        padding: 0;
    }

    .insert-sort .form-group input {
        width: 170px;
    }
}
