@{
    ViewBag.Title = "AssignSubstituteTeacher";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section Title
{
    Assign Substitute Teacher
    }


@section Style
{

<style>
    .total-details-table {
        width: auto;
        float: right;
        margin-left: auto;
    }

        .total-details-table tr, .total-details-table td {
            padding: 0 10px;
            line-height: 25px;
        }

            .total-details-table tr td label {
                color: #1d5381;
            }

    .container-fluid {
        padding: 0;
    }
</style>


    }


@section Script
{


    <script type="text/javascript">


        var self=null;
        var substituteTeacher = {

            classroomsJson: null,
            saveUrl: HostedDir + '/AgencyUser/SaveUnscheduledClassDay',
            bindPartialUrl: HostedDir + '/AgencyUser/GetUnscheduledClassDayPartial',
            deleteUrl: HostedDir + '/AgencyUser/DeleteUnscheduledSchoolDay',
            getClassroomsUrl: HostedDir + '/Teacher/GetClassRoomsByCenterHistorical',
            requestedPage: 1,
            pageSize: 10,
            firstIndex: 0,
            startIndex: 0,
            lastIndex: 0,
            pageLoadedFirst: false,
            totalRecords: 0,
            numOfPages: 0,
            sortOrder: null,
            sortColumn: null,


            init:function()
            {
                self = this;

                self.initializeElements();
                self.initializeEvents();
                self.resetElements();



                if (self.elements.dropdownCenter.find('option').length == 1) {
                    self.getClassrooms(self.elements.dropdownCenter.val());
                }
            },
            elements: {

                'divFilterSection':null,
                'searchStaffText': null,
                'dropdownCenter': null,
                'dropdownClassroom': null,
                'divdropdownClassroom':null,
                'fromDateInput': null,
                'toDateInput':null


            },
            ajaxOptions: {
                url: null,
                type: null,
                datatype: null,
                data: null,
                async: true
            },
            dataParameters: {
                CenterID: null,
                ClassroomID: [],
                ClassDate: null,
                UnscheduledSchoolDayReasonID: null,
                UnscheduledSchoolDayReason: null,
                SortOrder: null,
                SortColumn: null,
                PageSize: null,
                RequestedPage: null,
                UnscheduledSchoolDayID: null
            },
            initializeElements:function()
            {
                self.elements.divFilterSection = $('#div-filter-section');
                self.elements.searchStaffText = self.elements.divFilterSection.find('#searchStaff');
                self.elements.dropdownCenter = self.elements.divFilterSection.find('#selectCenter');
                self.elements.dropdownClassroom = self.elements.divFilterSection.find('#selectClassroom');
                self.elements.divdropdownClassroom = self.elements.dropdownClassroom.closest('.form-group');
                self.elements.fromDateInput = self.elements.divFilterSection.find('#fromDateDateTimePicker');
                self.elements.toDateInput = self.elements.divFilterSection.find('#toDateDateTimePicker');
                
            },
            initializeEvents:function()
            {

                self.elements.fromDateInput.next('.datepicker-icon').on('click', function (e) {
                    e.preventDefault();
                    self.elements.fromDateInput.datetimepicker('show');

                });


                self.elements.toDateInput.next('.datepicker-icon').on('click', function (e) {
                    e.preventDefault();
                    self.elements.toDateInput.datetimepicker('show');

                });


                self.elements.searchStaffText.autocomplete({
                    minLength: 1,
                    source: function (request, response) {
                        $.ajax({
                            url: HostedDir +"/AgencyAdmin/AutoCompleteAgencystaff",
                            type: "POST",
                            dataType: "json",
                            data: { term: request.term },
                            success: function (data) {

                                $('#spinner').hide();
                                response($.map(data, function (item) {
                                    return { label: item.FirstName, id: item.AgencyStaffId };
                                }));
                            }

                        });
                    },
                    select: function (event, ui) {

                        self.elements.searchStaffText.val(ui.item.label);
                        self.elements.searchStaffText.attr('data-accesskey', ui.item.id);

                       // window.location.href = HostedDir + '/AgencyUser/editStaff/' + ui.item.id;
                        return false;
                    },
                    messages: {
                        noResults: "",
                        results: function (count) {
                            return count + (count > 1 ? ' results' : ' result ') + ' found';
                        }
                    }
                })



                self.elements.dropdownCenter.on('change', function (event) {
                    debugger;
                    var $centerId = self.elements.dropdownCenter.val();

                    if ($centerId != '0') {
                        self.getClassrooms($centerId);

                    }
                    else {
                        self.elements.dropdownClassroom.closest('.form-group').hide('slow');
                    }
                });
            },
            resetElements:function()
            {
                self.elements.fromDateInput.datetimepicker({
                    timepicker: false,
                    format: 'm/d/Y',
                    validateOnBlur: false,
                    mask: true,
                    minDate: new Date(),
                }).on('blur', function () {
                  //  self.validateInputDate($(this));

                }).on('select', function () {

                });


                self.elements.toDateInput.datetimepicker({
                    timepicker: false,
                    format: 'm/d/Y',
                    validateOnBlur: false,
                    mask: true,
                    minDate: new Date(),
                }).on('blur', function () {
                   // self.validateInputDate($(this));

                }).on('select', function () {

                });
            },
            getClassrooms: function (cId) {
                debugger;
                self.ajaxOptions.url = self.getClassroomsUrl;
                self.ajaxOptions.datatype = 'JSON';
                self.ajaxOptions.type = 'POST',
                self.ajaxOptions.data = $.parseJSON(JSON.stringify({ 'centerId': cId }));
                self.ajaxOptions.async = true;

                $.ajax({
                    url: self.getClassroomsUrl,
                    type: 'POST',
                    dataType: 'JSON',
                    beforeSend: function () {
                        self.showBusy(true);
                    },
                    async: true,
                    data: { 'centerId': cId },
                    // traditional: true,
                    //  contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        self.callbackGetClassrooms(data);

                    },
                    error: function (data) {
                        debugger;
                        console.log(data);
                    },
                    complete: function (data) {
                        console.log(data);
                        debugger;
                        self.showBusy(false);
                    }

                })




                //   self.ajaxCall(self.callbackGetClassrooms);


            },


            bindAjaxParameters: function () {
                debugger;
                self.dataParameters.CenterID = self.elements.dropdownCenter.val();
                self.dataParameters.ClassroomID = self.elements.dropdownClassroom.closest('.form-group').is(':visible') ? self.elements.dropdownClassroom.val() : ['0'];
                self.dataParameters.ClassDate = self.elements.inputClassDate.val() == '__/__/____' ? '' : self.elements.inputClassDate.val();
                self.dataParameters.UnscheduledSchoolDayReasonID = self.elements.dropdownoptionalClassDayReason.is(':visible')
                                                                && self.elements.dropdownoptionalClassDayReason.val() != 'Other' ? self.elements.dropdownoptionalClassDayReason.val() : '0';

                self.dataParameters.UnscheduledSchoolDayReason = self.elements.inputoptionalClassDayReason.is(':visible') ? self.elements.inputoptionalClassDayReason.val() : '';

                //self.dataParameters.RequestedPage = self.elements.dropdownPageNumber.val() ==null?self.requestedPage: self.elements.dropdownPageNumber.val();
                //self.dataParameters.PageSize = self.elements.dropdownRecordsPerpage.val() == null ? self.pageSize : self.elements.dropdownRecordsPerpage.val();


                self.dataParameters.RequestedPage = self.requestedPage;
                self.dataParameters.PageSize = self.pageSize;

                self.dataParameters.SortOrder = self.sortOrder;
                self.dataParameters.SortColumn = self.sortColumn;


            },

            ajaxCall: function (callback) {

                console.log(self.ajaxOptions);
                $.ajax({
                    url: self.ajaxOptions.url,
                    type: self.ajaxOptions.type,
                    dataType: self.ajaxOptions.datatype,
                    beforeSend: function () {
                        self.showBusy(true);
                    },
                    async: self.ajaxOptions.async,
                    data: self.ajaxOptions.data,
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        callback(data);

                    },
                    error: function (data) {
                        debugger;
                        console.log(data);
                    },
                    complete: function (data) {
                        console.log(data);
                        debugger;
                        self.showBusy(false);
                    }

                })
            },

            callbackGetClassrooms: function (data) {



               
                var bindData = '';
                if (data != null && data.CenterList != null && data.CenterList.length > 0 && data.CenterList[0].Classroom != null && data.CenterList[0].Classroom.length > 0) {

                    bindData += '<option value="0">--Select--</option>';

                    self.classroomsJson = data.CenterList[0].Classroom;
                    $.each(data.CenterList[0].Classroom, function (i, classroom) {

                        bindData += '<option value=' + classroom.ClassroomID + '>' + classroom.ClassName + '</option>';
                    });
                }



              

                self.elements.dropdownClassroom.html(bindData);

                self.elements.divdropdownClassroom.show('slow');






            },
            showBusy: function (status) {
                if (status) {
                    $('#spinner').show();
                }
                else {
                    $('#spinner').hide();
                }
            },

        }


        $(function () {

            substituteTeacher.init();

        });

    </script>

    }


@section MainContentHolder
{
    
<div class="row Zoom">
    <div class="col-lg-12" style="padding:0;">
        <div class="page-wrapper-change">
            <div class="container-fluid" style="padding-top:15px;">
                <div class="row">

                    <!-----Right Side Container Section------->
                    <div class="glossy-right-side-container col-xs-12">

                        <!----Heading Section------>
                        <div class="col-xs-12" style="padding:0px;margin-bottom:20px;">
                            <div class="col-lg-12">
                                <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Assign Substitute Teacher

                                    <span class="view-btn backto_listspan">

                                        @*<a href="/Roster/Roster" style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Back to Roster</a>*@

                                    </span>
                                </h2>
                            </div>
                        </div>

                        <!--Filter and Search Form----->
                        <form class="col-xs-12">


                          
                            <!--Filter Section----->
                            <div class="col-xs-12 glossy-panel-div" id="div-filter-section">




                                <div class="form-group col-lg-2 col-sm-12 col-xs-12" id="div-search-staff">
                                    <label for="searchStaff" class="lbl-text">Search Staff <sup>*</sup></label>

                                    <input type="text" placeholder="Search..." id="searchStaff" class="glossy-select">

                                </div>



                                <div class="form-group col-lg-2 col-sm-12 col-xs-12">
                                    <label for="selectCenter" class="lbl-text">Center <sup>*</sup></label>

                                  
                                    @{
                                        var staffDetails = FingerprintsModel.StaffDetails.GetInstance();

                                        var centerList = Fingerprints.Utilities.Helper.GetCentersByUserId(staffDetails.UserId.ToString(), staffDetails.AgencyId.ToString(), staffDetails.RoleId.ToString(), isCenterBasedOnly: true);
                                        if (centerList.Count == 2)
                                        {
                                            centerList = centerList.Where(x => x.Value != "0").ToList();
                                        }
                                        centerList.ForEach(x =>
                                        {
                                            x.Value = (x.Value != "0") ? FingerprintsModel.EncryptDecrypt.Encrypt64(x.Value) : x.Value;
                                        });

                                    }

                                    @Html.DropDownList("selectCenter", new SelectList(centerList, "Value", "Text"), new { @class = "glossy-select" })






                                </div>


                                @*<div class="form-group col-lg-2 col-sm-6 col-xs-12" id="div-center-dropdown">
                                    <label for="selectCenter" class="lbl-text">Staff Name</label>
                                    <p>Carlie Davis</p>
                                </div>*@





                                <div class="form-group col-lg-2 col-sm-6 col-xs-12" style="display:none;">
                                    <label for="selectClassroom" class="lbl-text">Classroom <sup>*</sup></label>

                                    <select class="glossy-select" id="selectClassroom"></select>

                                </div>
                                <!---Center dropdown section-->
                                <!-----In-kind activity From date section-->
                                <div class="form-group col-lg-2 col-sm-6 col-xs-12">
                                    <label for="fromDateDateTimePicker" class="lbl-text">From Date <sup style="color:red;">*</sup></label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control glossy-date-input" maxlength="12" placeholder="MM/DD/YYYY" id="fromDateDateTimePicker">
                                        <span class="input-group-addon datepicker-icon seats-icon" id="1" style="cursor:pointer;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <!-----In-kind activity To date section-->
                                <div class="form-group col-lg-2 col-sm-6 col-xs-12">
                                    <label for="toDateDateTimePicker" class="lbl-text">To Date <sup style="color:red;">*</sup></label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control glossy-date-input" maxlength="12" placeholder="MM/DD/YYYY" id="toDateDateTimePicker">
                                        <span class="input-group-addon datepicker-icon seats-icon" id="1" style="cursor:pointer;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <!-----In-kind activity Search section-->
                                <div class="form-check col-lg-2 col-xs-12 glossy_btn" style="width: 127px;">
                                    <label for="exampleInputPassword1" style="visibility:hidden;">Save</label>
                                    <button type="button" class="glossy-button-button button-green" id="btnSubmitTeacher">
                                        <span class="glossy-button-after"></span>
                                        <span class="glossy-button-before"></span>
                                        Submit
                                    </button>
                                </div>


                                <!-----In-kind activity Export section-->

                            </div>



                        </form>

                        <!-------In-kind Report table section------->

                        <div id="no-more-tables8" class="col-xs-12" style="margin-bottom: 20px;">


                            <div class="col-xs-12 glossy-panel-div" id="div-table-responsive">



                                <div class="col-xs-12 search-block-main">


                                    <table class="total-details-table col-md-12">

                                        <tbody>


                                            <tr>
                                                <td><label>Total Record(s)</label></td>
                                                <td id="totalCountSpan">0</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>





                                <table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="inkind-table">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>
                                                <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                                                <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>




                                                Staff Name
                                            </th>

                                            <th>

                                                <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                                                <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                                                Center

                                            </th>

                                            <th>

                                                <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                                                <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>



                                                Classroom
                                            </th>



                                            <th>

                                                <i class="fa fa-long-arrow-down i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                                                <i class="fa fa-calendar i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                                                <i class="fa fa-long-arrow-down i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                                                <i class="fa fa-calendar i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>


                                                From Date
                                            </th>

                                            <th>

                                                <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                                                <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                                                To Date
                                            </th>




                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody" id="inkind-tbody">










                                        @*<tr role="row">



                                                <td role="gridcell" data-title="Contributor"><p title="" data-toggle="tooltip" data-original-title=" MINEY JAMES"> MINEY  JAMES</p></td>
                                                <td role="gridcell" data-title="Center"><p title="" data-toggle="tooltip" data-original-title="GLENWOOD CENTER for EARLY CHILDHOOD">GLENWOOD CENTER for EARLY CHILDHOOD</p></td>
                                                <td role="gridcell" data-title="Contributor Activity"><p title="" data-toggle="tooltip" data-original-title="Cutting Grass">Cutting Grass</p></td>




                                                <td role="gridcell" data-titl="Activity Date"><p>01/09/2019</p></td>


                                                <td role="gridcell" data-title="Time Spent">
                                                    <p>
                                                        2 Hrs 10 Mins
                                                    </p>
                                                </td>

                                                <td role="gridcell" data-title="Miles Driven">
                                                    <p>0.00 </p>
                                                </td>
                                                <td role="gridcell" data-title="In-Kind Amount"><p>$ 26.43</p></td>
                                                <td role="gridcell" data-title="Entered By"><p title="" data-toggle="tooltip" data-original-title="Fingerprints Demo">Fingerprints Demo</p></td>
                                                <td role="grid" data-title="Action" class="text-center glossy_btn">
                                                    <input type="hidden" id="hide-trans-id" value="MTcx">

                                                    <button type="button" class="glossy-button-button button-green button-blue btn-edit-trans glossy-button-button-ch">
                                                        <span class="glossy-button-after"></span>
                                                        <span class="glossy-button-before"></span>
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
                                                    </button>
                                                    <button type="button" class="glossy-button-button button-green button-red btn-delete-trans glossy-button-button-ch">
                                                        <span class="glossy-button-after"></span>
                                                        <span class="glossy-button-before"></span>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                                    </button>

                                                </td>
                                            </tr>
                                            <tr role="row">



                                                <td role="gridcell" data-title="Contributor"><p title="" data-toggle="tooltip" data-original-title=" MINEY JAMES"> MINEY  JAMES</p></td>
                                                <td role="gridcell" data-title="Center"><p title="" data-toggle="tooltip" data-original-title="One Plus Temple View Branch ">One Plus Temple View Branch </p></td>
                                                <td role="gridcell" data-title="Contributor Activity"><p title="" data-toggle="tooltip" data-original-title="Lighting Work">Lighting Work</p></td>




                                                <td role="gridcell" data-titl="Activity Date"><p>01/02/2019</p></td>


                                                <td role="gridcell" data-title="Time Spent"><p> 0 Hrs</p></td>

                                                <td role="gridcell" data-title="Miles Driven">
                                                    <p>0.00 </p>
                                                </td>
                                                <td role="gridcell" data-title="In-Kind Amount"><p>$ 200.00</p></td>
                                                <td role="gridcell" data-title="Entered By"><p title="" data-toggle="tooltip" data-original-title="Carlie Davis">Carlie Davis</p></td>
                                                <td role="grid" data-title="Action" class="text-center glossy_btn">
                                                    <input type="hidden" id="hide-trans-id" value="MTc5">

                                                    <button type="button" class="glossy-button-button button-green button-blue btn-edit-trans glossy-button-button-ch">
                                                        <span class="glossy-button-after"></span>
                                                        <span class="glossy-button-before"></span>
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
                                                    </button>
                                                    <button type="button" class="glossy-button-button button-green button-red btn-delete-trans glossy-button-button-ch">
                                                        <span class="glossy-button-after"></span>
                                                        <span class="glossy-button-before"></span>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                                    </button>

                                                </td>
                                            </tr>*@



                                    </tbody>



                                </table>

                            </div>




                        </div>


                        <!---Pagination Section-->
                        <div class="col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li style="color:#ffffff;">Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay">
                                                <option value="10" selected="selected">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li style="color:#ffffff;">Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li>

                                            @*<input id='First' type='image' src="~/Images/previousarrow.png" style="cursor:pointer;" disabled />*@

                                            <a href="javascript:void(0);" id="First" disabled>
                                                <i class="fa fa-angle-double-left" aria-hidden="true" style="margin:auto;padding:-7px;"></i>
                                            </a>

                                        </li>
                                        <li title="Back">

                                            @*<input id='Back' type='image' src="~/Images/prevarrow.png" style='cursor:pointer;' disabled />*@
                                            <a href="javascript:void(0);" id="Back" disabled>
                                                <i class="fa fa-angle-left" aria-hidden="true" style="margin:auto;padding:-7px;"></i>
                                            </a>

                                        </li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging"></select>
                                        </li>
                                        <li title="Next">
                                            @*<input id='Next' type='image' src="~/Images/nextarrow1.png" style='cursor:pointer;' disabled />*@
                                            <a href="javascript:void(0);" id="Next" disabled>
                                                <i class="fa fa-angle-right" aria-hidden="true" style="margin:auto;padding:-7px;"></i>
                                            </a>
                                        </li>
                                        <li title="Last">
                                            @* <input id='Last' type='image' src="~/Images/nextarrow.png" style='cursor:pointer;' disabled />*@
                                            <a href="javascript:void(0);" id="Last" disabled>
                                                <i class="fa fa-angle-double-right" aria-hidden="true" style="margin:auto;padding:-7px;"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
    
    }

