<link href="~/Content/popup-theme.css" rel="stylesheet" />

<div class="modal fade scroll-modal in custom-modal" id="modal-family-search" role="dialog">
    <div class="modal-dialog modal-dialog-ch">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><img src="/Content/CaseNote/images/close.png"></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Advanced Family Search</h2>

                <div class="custom-modal-body-div">

                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                        <div class="col-lg-3 col-xs-12 custom-modal-total-count">
                            <label>Total Count:</label>&nbsp;<span class="totalCountSpan">13</span>
                        </div>

                        <div class="col-lg-4 input-group date custom-modal-search">
                            <input type="text" class="form-control searchTextAll" placeholder="Search by Name...">
                            <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#EnrolledModal', this);">

                                <i class="glyphicon glyphicon-search"></i><span class="searchName">Search</span>
                            </span>
                        </div>

                        <div class="col-lg-4 text-right custom-modal-button-export">
                            <button class="download-excel btn btn-primary" onclick="downloadReportExcel('#EnrolledModal', this);">Export to Excel</button>
                        </div>

                    </div>


                    <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                        <div class="col-xs-12 no-padding">
                            <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table-sz custom-modal-table" style="margin-bottom:24px;padding:16px;width:100%;">
                                <thead class="table-hd scroll-thead">
                                    <tr>
                                        <th>Client</th>
                                        <th>Profile Picture</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th class="center_name_head" style="display:none;">Center Name</th>
                                        <th>Start Date</th>
                                        <th>Attendance</th>
                                        <th>Over Income</th>
                                        <th>Foster</th>
                                        <th>Present/Absent</th>
                                    </tr>

                                </thead>
                                <tbody class="ersea-table-head enrolledModalBody scroll-tbody">
                                    <tr>
                                        <td data-title="Client" class="childName" clientid="MjUzNDQ="><div>ewrew</div></td>
                                        <td data-title="Profile Picture" style="text-align:center;"><a href="javascript:void(0);" onclick="showImage(this);" eclientid="MjUzNDQ=">View</a></td>
                                        <td data-title="Gender">Male</td>
                                        <td data-title="Date Of Birth">05/07/2015</td>
                                        <td data-title="Class Start Date">08/23/2018</td>
                                        <td data-title="Attendance">86% </td>
                                        <td data-title="Over Income">N</td>
                                        <td data-title="Foster"></td>
                                        <td data-title="Present/Absent"><i style="color:#ff2222;" title="Not Checked In" class="fa fa-user-times"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-title="Client" class="childName" clientid="MjUzNDQ="><div>ewrew</div></td>
                                        <td data-title="Profile Picture" style="text-align:center;"><a href="javascript:void(0);" onclick="showImage(this);" eclientid="MjUzNDQ=">View</a></td>
                                        <td data-title="Gender">Male</td>
                                        <td data-title="Date Of Birth">05/07/2015</td>
                                        <td data-title="Class Start Date">08/23/2018</td>
                                        <td data-title="Attendance">86% </td>
                                        <td data-title="Over Income">N</td>
                                        <td data-title="Foster"></td>
                                        <td data-title="Present/Absent"><i style="color:#ff2222;" title="Not Checked In" class="fa fa-user-times"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-title="Client" class="childName" clientid="MjUzNDQ="><div>ewrew</div></td>
                                        <td data-title="Profile Picture" style="text-align:center;"><a href="javascript:void(0);" onclick="showImage(this);" eclientid="MjUzNDQ=">View</a></td>
                                        <td data-title="Gender">Male</td>
                                        <td data-title="Date Of Birth">05/07/2015</td>
                                        <td data-title="Class Start Date">08/23/2018</td>
                                        <td data-title="Attendance">86% </td>
                                        <td data-title="Over Income">N</td>
                                        <td data-title="Foster"></td>
                                        <td data-title="Present/Absent"><i style="color:#ff2222;" title="Not Checked In" class="fa fa-user-times"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-title="Client" class="childName" clientid="MjUzNDQ="><div>ewrew</div></td>
                                        <td data-title="Profile Picture" style="text-align:center;"><a href="javascript:void(0);" onclick="showImage(this);" eclientid="MjUzNDQ=">View</a></td>
                                        <td data-title="Gender">Male</td>
                                        <td data-title="Date Of Birth">05/07/2015</td>
                                        <td data-title="Class Start Date">08/23/2018</td>
                                        <td data-title="Attendance">86% </td>
                                        <td data-title="Over Income">N</td>
                                        <td data-title="Foster"></td>
                                        <td data-title="Present/Absent"><i style="color:#ff2222;" title="Not Checked In" class="fa fa-user-times"></i></td>
                                    </tr>
                                    <tr>
                                        <td data-title="Client" class="childName" clientid="MjUzNDQ="><div>ewrew</div></td>
                                        <td data-title="Profile Picture" style="text-align:center;"><a href="javascript:void(0);" onclick="showImage(this);" eclientid="MjUzNDQ=">View</a></td>
                                        <td data-title="Gender">Male</td>
                                        <td data-title="Date Of Birth">05/07/2015</td>
                                        <td data-title="Class Start Date">08/23/2018</td>
                                        <td data-title="Attendance">86% </td>
                                        <td data-title="Over Income">N</td>
                                        <td data-title="Foster"></td>
                                        <td data-title="Present/Absent"><i style="color:#ff2222;" title="Not Checked In" class="fa fa-user-times"></i></td>
                                    </tr>
                            </table>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="col-xs-12 poppage-slot" style="padding:0px">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                            <div class="pages_display">
                                <ul>
                                    <li>Display</li>
                                    <li>
                                        <select id="ddlpagetodisplay" onchange="drawgrid('#EnrolledModal', this);" center="NzU=">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </li>
                                    <li>Records Per Page</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div id="divPaging" class="pagination_wrp">
                                <ul id="ulPaging" class="pagination">
                                    <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal', 'First'); return false;" center="NzU=" disabled="disabled"></li>
                                    <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal','Back'); return false;" center="NzU=" disabled="disabled"></li>
                                    <li title="Select">
                                        <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#EnrolledModal', this);" center="NzU="><option value="1">1</option><option value="2">2</option></select>
                                    </li>
                                    <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal','Next'); return false;" center="NzU="></li>
                                    <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal','Last'); return false;" center="NzU="></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding:0;text-align:right;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>