



<div class="modal fade scroll-modal custom-modal" id="ModalAppendCasenote" role="dialog">
    <div class="modal-dialog modal-dialog-ch">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><img src="~/Content/CaseNote/images/close.png" /></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Case Note</h2>
                <div class="col-sm-12 col-xs-12 pull-right" style="padding-right:0;display:none;">
                    <div class="btnwrp_subcal" style="padding:0; margin:0;">
                        <h3 id="CaseNoteTitle" class="text-center pull-left"><span class="extra-title muted"></span></h3>

                        @*<input id="ClientId" type="hidden" name="ClientId" value="@Model.Enc_ClientID" />
                        <input id="CenterId" type="hidden" name="CenterId" value="@Model.CenterID" />
                        <input id="ProgramId" type="hidden" name="ProgramId" value="@ViewBag.Programid" />
                        <input id="HouseHoldId" type="hidden" name="HouseHoldId" value="@Model.Enc_HouseholdID" />
                        <input id="CaseNoteid" type="hidden" name="CaseNoteid" value="0" />*@

                        <input id="appendCaseNoteId" type="hidden" name="appendCaseNoteId" value="0" />
                        <div class="clear"></div>
                    </div>
                </div>
                

                @{
                    Html.RenderPartial("~/Views/Partialviews/_AppendCaseNote.cshtml");
                }


            </div>



        </div>
    </div>
</div>

<style>
    #ModalAppendCasenote .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
   #ModalAppendCasenote .modal-body > h2 {
        margin-top: 10px;
        float: left;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        color: #fff;
    }

   #ModalAppendCasenote .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}

   #ModalAppendCasenote .addapplicant {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #295b8f;
    color: #295b8f;
    padding: 15px 0;
    margin: 0 15px;
    margin-bottom: 10px;
}

   #ModalAppendCasenote .transition-content-desc p {
    padding: 10px 10px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
    width: 100%;
    float: left;
}

  #ModalAppendCasenote .enroll-sec {
    width: auto;
    display: inline-block;
    float: left;
}

</style>

<script>
    $(function () {


        //$('#ModalAppendCasenote').find('#uploadImageCamera').ApplinkCameraCapture({
        //    cameraType: 1,
        //    initialLoad: true,
        //    parent:'modal',
        //    addImagefn: function (events) {

        //    },
        //    cancelImagefn: function (events) {

        //    },
        //    modalShowfn:function(events)
        //    {
        //        debugger;
        //        events.showCameraOption(events);

        //        events.$camera.hide();
        //        events.setIntervalUserMedia(events);
        //    },
        //    modalHidefn:function(events)
        //    {
        //        $('#ModalAppendCasenote').modal('show');
        //    }


        //});


        $('#ModalAppendCasenote').on('shown.bs.modal', function () {


            
          //  $('#modal-uploaddocument').attr('target-modal', '#ModalAppendCasenote');

            showCameraOption(this);

            //$selfElements.modalImageUploadCamera.hide();

            $(this).find('#uploadImageCamera').hide();

            setIntervalUserMedia(this);

        });

        //$('#modal-uploaddocument').on('hidden.bs.modal', function () {

        //    $('#ModalAppendCasenote').modal('show');
        //});


     
       

    });


   

</script>