<div class="modal fade scroll-modal in" id="modalScreenDoc" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-ch modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><img src="/Content/CaseNote/images/close.png"></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Upload Document</h2>
                <div class="camsetting">
                    <div class="camera-setup">

                        <div class="camera_upload">
                            <ul>
                                <li onclick="openFileUpload(this);">
                                    <label class="btn-eduupload" for="file-edupload">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        <span>Upload from Device</span>
                                    </label>
                                </li>
                                <li onclick="showCameraOption(this);">
                                    <button class="btn-eduupload"><i class="fa fa-camera" aria-hidden="true"></i><span>Capture using Camera</span></button>
                                </li>
                            </ul>
                        </div>


                        @*<div class="alert alert-danger fade in alert-dismissible text-center" id="divcamnotfound" style="display:none;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                <strong>!</strong> Camera not detected

                            </div>*@


                        <label id="divcamnotfound" style="display:none;text-align: center;margin-top: 20px;color: #db4437;"><strong><img src="~/Images/Info.svg" class="infosg" /> Camera not detected</strong></label>



                        <div class="col-xs-12" id="divcapimage" style="display:block;">
                            <div class="camera-radio">
                                @*<div class="radio-camera">
                                        <input type="radio" id="fcamera" name="select-option" /> <label for="fcamera">Front Camera</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="bcamera" name="select-option" /> <label for="bcamera">Back Camera</label>
                                    </div>*@



                                <div class="select_camera">
                                    <label for="videoSource">Select Camera: </label>
                                </div>
                                <div class="sel_opt_camera">
                                    <select id="videoSource"></select>
                                </div>


                            </div>
                            <div class="setup-camo" id="setup-camera-div">
                                <div class="col-xs-12 col-sm-12 col-lg-12 mob-div-pad" style="height:350px;margin-bottom:20px;">

                                    <video autoplay style="height:350px;"></video>

                                    <div class="setup-snap">


                                        <a href="javascript:void(0);" id="anchor-capture" data-toggle="tooltip" title="click to capture image">
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="setup_viewscreen col-xs-12 col-sm-12 col-lg-12" style="margin-bottom:20px;">

                                    <img id="capt-img" class="setup_viewscreen-camera">

                                </div>
                            </div>


                            <div class="col-xs-12 bdr-popup"></div>
                            <div class="col-xs-12" style="margin-top:10px;margin-bottom:15px;">
                                <div class="btnwrp_subcal" style="padding:0; margin:0;">
                                    <button type="submit" id="SaveNoteSubmit" onclick="return saveDocumentCamera();" class="glossy-button-button button-green" style="background:#2ecc71;">
                                        Save

                                        <span class="glossy-button-after"></span>
                                        <span class="glossy-button-before"></span>
                                    </button>
                                    <button type="button" class="glossy-button-button button-red" data-dismiss="modal" style="background:#db4437;">
                                        Exit

                                        <span class="glossy-button-after"></span>
                                        <span class="glossy-button-before"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*<div class="col-xs-12 bdr-popup"></div>*@
                @*<div class="col-xs-12" style="margin-top:10px;margin-bottom:15px;">
                        <div class="btnwrp_subcal" style="padding:0; margin:0;">
                            <button type="submit" id="SaveNoteSubmit" onclick="return Validatecasenote();" class="my-btn pull-right" style="background:#2ecc71;">Save</button>
                            <button type="button" class="my-btn pull-right" data-dismiss="modal" style="background:#db4437;">Exit</button>
                        </div>
                    </div>*@
            </div>



        </div>
    </div>
</div>