

<style type="text/css">

    .camsetting {
    overflow-y: auto;
    max-height: 500px;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}


     
         

    .camera-setup {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

    .camera_upload {
    width: 100%;
    float: left;
}

    .camera-radio {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0;
}

    .select_camera {
    display: inline-block;
    float: none;
    font-size: 16px;
    margin-right: 11px;
}

    .sel_opt_camera {
    display: inline-block;
    float: none;
}

    select#videoSource {
    width: 180px;
    height: 36px;
    font-size: 14px;
}

    .setup-camo {
    width: 100%;
    float: left;
    text-align: center;
}

    video {
    background: #222;
    margin: 0 0 20px 0;
    width: 100%;
    height: 100%;
}

    .setup-snap {
    position: absolute;
    bottom: 19px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

    .setup-snap a {
    color: #fff;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    padding: 11px 12px;
    border-radius: 46px;
    font-size: 24px;
    cursor: pointer;
}

    .setup_viewscreen {
    width: 96%;
    float: none;
    display: inline-block;
    background-color: #000;
    height: 350px;
    max-width: 100%;
}

    .setup_viewscreen-camera {
    height: 350px;
}


    .btn-eduupload:hover {
    background: #8e44ad;
    transition: all 0.3s;
}
    img.infosg {
    max-width: 39px;
}

label.btn-eduupload {
    margin-right: 15px;
}

.btn-eduupload {
    float: left;
    background: #9b59b6;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 68px;
    display: inline-block;
    margin: 0;
    font-weight: 300;
    transition: all 0.3s;
    width: 180px;
    cursor: pointer;
    padding: 10px;
}

.camera_upload ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

 .camera_upload ul li {
                    display: inline-block;
                }

                    .camera_upload ul li input {
                        display: none;
                    }

                    .camera_upload ul li i {
                        font-size: 20px;
                        margin-bottom: 6px;
                    }


.btn-eduupload > span {
    width: 100%;
    float: left;
}
</style>

<div class="modal fade scroll-modal in custom-modal camera-file-modal" data-backdrop="static" data-keyboard="false" id="modalScreenDoc" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-ch modal-lg">
        <div class="modal-content">

            <div class="modal-body">


                <button type="button" class="close" data-dismiss="modal"><img src="/Content/CaseNote/images/close.png"></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Upload Document</h2>

                <div class="max_items_addn">



                    <div class="camsetting">
                        <div class="camera-setup">

                            <div class="camera_upload">
                                <ul>
                                    <li class="up-device" onclick="openFileUpload(this);">
                                        <label class="btn-eduupload" for="file-edupload">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            <span>Upload from Device</span>
                                        </label>
                                    </li>
                                    <li onclick="showCameraOption(this);">
                                        <button class="btn-eduupload"><i class="fa fa-camera" aria-hidden="true"></i><span>Capture using Camera</span></button>
                                    </li>
                                </ul>
                            </div>


                         

                            <label id="divcamnotfound" style="display:none;text-align: center;margin-top: 20px;color: #db4437;"><strong><img src="~/Images/Info.svg" class="infosg" /> Camera not detected</strong></label>



                            <div class="col-xs-12" id="divcapimage" style="display:none;">
                                <div class="camera-radio">
                                  



                                    <div class="select_camera">
                                        <label for="videoSource">Select Camera: </label>
                                    </div>
                                    <div class="sel_opt_camera">
                                        <select id="videoSource"></select>
                                    </div>


                            </div>
                            <div class="setup-camo" id="setup-camera-div">
                                <div class="col-xs-12 col-sm-12 col-lg-12 mob-div-pad" style="height:350px;margin-bottom:20px;">

                                    <video autoplay style="height:350px;"></video>

                                    <div class="setup-snap">


                                        <a href="javascript:void(0);" id="anchor-capture" data-toggle="tooltip" title="click to capture image">
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="setup_viewscreen col-xs-12 col-sm-12 col-lg-12" style="margin-bottom:20px;">

                                    <img id="capt-img" class="setup_viewscreen-camera">

                                </div>
                            </div>



                            </div>
                        </div>
                    </div>
                </div>












                <div class="row">
                    <div class="form-group final-btn text-center glossy_btn adddivspace" style="padding: 0 30px;">

                        <button type="button" id="SaveNoteSubmit" onclick="return saveDocumentCamera();" class="glossy-button-button button-green glossy-button-hover">
                            Save

                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="glossy-button-button button-red glossy-button-hover" data-dismiss="modal">
                            Exit

                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                        </button>

                        <input id="FamilyHousehold_HouseholdId" type="hidden" name="FamilyHousehold.HouseholdId" value="">





                    </div>
                </div>




                

            </div>



        </div>
    </div>
</div>


<script type="text/javascript">


    const videoElement = document.querySelector('.camera-file-modal video');
    //var audioSelect = document.querySelector('select#audioSource');
    const videoSelect = document.querySelector('.camera-file-modal select#videoSource');
    var constraints = {};
    var front = true;


    const screenshotButton = document.querySelector('.camera-file-modal #anchor-capture');
    const img = document.querySelector('.camera-file-modal #setup-camera-div #capt-img');
    const video = document.querySelector('.camera-file-modal #setup-camera-div video');
    video.setAttribute('autoplay', '');
    video.setAttribute('muted', '');
    video.setAttribute('playsinline', '');
    const canvas = document.createElement('canvas');


    screenshotButton.onclick = video.onclick = function () {

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        // Other browsers will fall back to image/png
        console.log(canvas);
        img.src = canvas.toDataURL('image/png');
      
    };

    function handleSuccess(stream) {
        screenshotButton.disabled = false;
        video.srcObject = stream;
    }

    function stopMediaTracks(stream) {
        
        stream.getTracks().forEach(function (track) { track.stop(); })

    }





    //new code//




    var currentStream;

    function stopMediaTracks(stream) {
        stream.getTracks().forEach(function (track) {
            track.stop();
        });
    }

    function gotDevices(mediaDevices) {
        // debugger;
        videoSelect.innerHTML = '';
        // videoSelect.appendChild(document.createElement('option'));
        var count = 1;
        mediaDevices.forEach(function (mediaDevice) {
            if (mediaDevice.kind === 'videoinput') {
                const option = document.createElement('option');
                option.value = mediaDevice.deviceId;
                const label = mediaDevice.label || 'Camera ' + (count++) + '';
                const textNode = document.createTextNode(label);
                option.appendChild(textNode);
                videoSelect.appendChild(option);
            }
        });





    }

    function getStream() {
        // alert('change event');
        if (typeof currentStream !== 'undefined') {
            stopMediaTracks(currentStream);
        }
        const videoConstraints = {};
        if (videoSelect.value === '') {
            videoConstraints.facingMode = 'environment';
        } else {
            videoConstraints.deviceId = { exact: videoSelect.value };
        }
        const constraints = {
            video: videoConstraints,
            audio: false
        };
        navigator.mediaDevices
          .getUserMedia(constraints)
          .then(function (stream) {
              currentStream = stream;
              video.srcObject = stream;
              return navigator.mediaDevices.enumerateDevices();
          })
          .then(gotDevices)
          .catch(function (error) {
              console.error(error);
              //alert(error);
          });
    }

    videoSelect.addEventListener('change', function (event) {

        getStream();
    });

    navigator.mediaDevices.enumerateDevices().then(gotDevices);





    function showCameraOption(ele) {
        //  alert();
        var videoInputAvailable = 0;
        navigator.mediaDevices.enumerateDevices().then(function (devices) {

            console.log(devices);
            devices.forEach(function (device) {
                //  debugger;

                if (device.kind == 'videoinput') {
                    videoInputAvailable++;
                }

            });


            if (videoInputAvailable == 0) {
                $('.camera-file-modal #divcapimage').hide();

                $(".camera-file-modal #divcamnotfound").show();
            }
            else {
                $('.camera-file-modal #divcamnotfound').hide();

                $(".camera-file-modal #divcapimage").show();
            }

        }).catch(function (err) {
            console.log(err.name + ": " + err.message);
        });


        if (videoSelect.options.length > 0) {
            getStream();
        }




    }


</script>