<style type="text/css">

         #modal-inkind-dates .modal-body {
            background: #34495e none repeat scroll 0 0;
            border: 6px solid #ffffff;
            border-radius: 3px;
            color: #ffffff;
            float: left;
            padding: 15px 3%;
            position: relative;
            width: 100%;
            padding-top: 10px;
        }

        #modal-inkind-dates .form-group-al {
            background: #f1f5f8 none repeat scroll 0 0;
            border: 3px solid #ffffff;
            float: left;
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            color: #333;
            padding-top: 25px;
        }

        #modal-inkind-dates h2 {
            margin-top: 10px;
            float: left;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }

       #modal-inkind-dates .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}

       .inkindLabel {
    padding-left: 0px;
    line-height: 2 !important;
}

       .button_rose {
    text-shadow: 0 1px #0d4d09;
    background-color: #9b59b6;
    border-color: #9b59b6 #9b59b6 #9b59b6;
}

       .button_rose:hover {
    text-shadow: 0 1px #0d4d09;
    background-color: #21945a;
    border-color: #2bc577 #2bc577 #2bc577;
    color: #fff;
    text-shadow: 0 1px #154c86;
    text-decoration: none;
}

       .glossy-button-before {
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -20%;
    right: -20%;
    border-radius: 50%;
    background: transparent;
    -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    -o-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}
       .glossy-button-after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

       .glossy_btn button:hover .glossy-button-after, .anchor_yellow:hover .glossy-button-after, .screening_footer .glossy-button-button:hover .glossy-button-after,  .glossy-button-button:hover .glossy-button-after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


</style>


<!----Modal for In-Kind dates-->

<div class="modal fade in" id="modal-inkind-dates" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                <h2>In-Kind Entry Dates</h2>

                <div class="form-group-al">
                    <div class="row">
                        <div>

                            <div class="modal-body-section">


                                <div class="col-sm-12">

                                    @*<div class="row">
                                        <div class="col-sm-12">
                                            <button class="glossy-button-button button_rose" id="add-dates-inkind" style="margin-bottom:5px;padding:0px 10px;">
                                                <i class="fa fa-plus"></i> Add Dates
                                                <span class="glossy-button-after"></span>
                                                <span class="glossy-button-before"></span>
                                            </button>
                                        </div>
                                    </div>*@

                                    <div class="row">
                                        <div class="col-sm-12">

                                            <table class="table table-area-head table-striped table-bordered text-center" id="inkind-dates-table">
                                                <thead>
                                                    <tr>

                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        @*<th>Remove</th>
                                                        <th>Close</th>*@
                                                    </tr>

                                                </thead>
                                                <tbody>

                                                    <tr  data-period-id="0">
                                                        <td>
                                                            <div class="input-group date">
                                                                <input type="text" class="form-control inkind-start-date"  maxlength="12" placeholder="MM/DD/YYYY"  name="InkindPeriodList[0].StartDate" >
                                                                <span class="input-group-addon datepicker-icon dates-icon" style="cursor:pointer;">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>

                                                        
                                                        </td>
                                                        <td>
                                                           
                                                             <div class="input-group date">
                                                                <input type="text" class="form-control inkind-end-date" maxlength="12" placeholder="MM/DD/YYYY" name="InkindPeriodList[0].EndDate">
                                                                <span class="input-group-addon datepicker-icon dates-icon" style="cursor:pointer;">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        
                                                        </td>
                                                        @*<td></td>
                                                        <td>Close</td>*@
                                                    </tr>

                                                </tbody>

                                            </table>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 text-center" style="margin-top:20px;">
                                            <button type="button" class="glossy-button-button button-green" id="submit_inkind_dates">
                                                <span class="glossy-button-after"></span>
                                                <span class="glossy-button-before"></span>
                                            Submit</button>

                                            <button type="button" class="glossy-button-button button-red" data-dismiss="modal">
                                                <span class="glossy-button-after"></span>
                                                <span class="glossy-button-before"></span>
                                            Exit</button>
                                        </div>
                                    </div>



                                </div>



                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!------>