<style type="text/css">
   .multiple-camera-modal .text-bg {
                    text-shadow: 0 1px #7e50b7;
                    background-color: #5f477d;
                    background-clip: padding-box;
                    border: 1px solid !important;
                    border-color: #7e50b7 #684494 #5d3e84 !important;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
                    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    border-right: 1px solid #87759e !important;
                    color: #fff;
                }

    .multiple-camera-modal .modal-body {
                    background: #34495e none repeat scroll 0 0;
                    border: 6px solid #ffffff;
                    border-radius: 3px;
                    /* color: #ffffff; */
                    float: left;
                    padding: 15px 3%;
                    position: relative;
                    width: 100%;
                }

    .multiple-camera-modal .close {
                    opacity: 1;
                    position: absolute;
                    right: -14px;
                    top: -15px;
                }

     .multiple-camera-modal .modal-body>h2{
                    margin-top: 10px;
                    float: left;
                    font-size: 24px;
                    font-weight: 600;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 20px;
                    color: #fff;
                }

      .multiple-camera-modal .max_items_addn {
                    background: #f1f5f8 none repeat scroll 0 0;
                    border: 3px solid #ffffff;
                    float: left;
                    padding: 10px;
                    width: 100%;
                    margin-bottom: 20px;
                    border-radius: 4px;
                }


       .multiple-camera-modal .sum_attachparticic input{
                    width: 67%;
                    float: left;
                    margin-right: 10px;
                }

                .multiple-camera-modal .sum_attachparticic a {
                    padding-top: 10px;
                    float: left;
                }

                .multiple-camera-modal.attachparticic_myactive {
                    /*width: 64%;
            float: right;*/
                    margin-top: 10px;
                }

               .multiple-camera-modal .sum_attachparticic.list_panic_info {
                    width: 100%;
                    margin-bottom: 10px;
                    float: left;
                }


                   .multiple-camera-modal.sum_attachparticic input{
                    width: 64%;
                }



        /*camera popup section*/
               .multiple-camera-modal .camera-radio {
            width: 100%;
            float: left;
            text-align: center;
            padding: 30px 0;
        }

               .multiple-camera-modal .select_camera {
            display: inline-block;
            float: none;
            font-size: 16px;
            margin-right: 11px;
        }

                .multiple-camera-modal .sel_opt_camera {
            display: inline-block;
            float: none;
        }


                .multiple-camera-modal select#videoSource {
            width: 180px;
            height: 36px;
            font-size: 14px;
        }


        .multiple-camera-modal .setup-camo {
            width: 100%;
            float: left;
            text-align: center;
        }

        .multiple-camera-modal  .mob-div-pad {
    height: 260px;
    margin-bottom: 30px;
}

        .multiple-camera-modal .attach-icon-div-gallery {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 20px;
    text-align: center;
    padding: 0px 0;
    /* background: #ffffff; */
    border-left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    line-height: 90px;
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

            .multiple-camera-modal .attach-icon-div-gallery .view-file-upload {
                color: #fff;
                background: #42af3c;
                padding: 5px;
                border-radius: 100%;
                width: 25px;
                height: 25px;
                font-size: 13px;
                cursor: pointer;
            }

           .multiple-camera-modal .attach-icon-div-gallery .delete-file-upload {
    color: #fff;
    background: #ce635a;
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 13px;
    margin-left: 5px;
    cursor: pointer;
}



              .multiple-camera-modal .setup-snap {
            position: absolute;
            bottom: 19px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
        }

         .multiple-camera-modal .setup-snap a {
            color: #fff;
            width: 100px;
            height: 100px;
            border: 2px solid #fff;
            padding: 11px 12px;
            border-radius: 46px;
            font-size: 24px;
            cursor: pointer;
        }


             .multiple-camera-modal .setup_viewscreen {
            /*width: 96%;
            float: none;
            display: inline-block;
            background-color: #000;
            height: 350px;
            max-width: 100%;*/
                width: 130px;
            float: left;
            display: inline-block;
            background-color: #000;
            height: 90px;
            max-width: 100%;
            padding: 0;
            border-radius: 5px;
            position: relative;
            margin-right: 10px;
        }

            .multiple-camera-modal .setup_viewscreen-camera {
            /*height: 350px;*/
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

           .multiple-camera-modal video {
            background: #222;
            margin: 0 0 20px 0;
            width: 100%;
            height: 100%;
        }

             .multiple-camera-modal .bdr-popup {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            height: 1px;
            background: #c6c3c3;
        }



              .multiple-camera-modal  .setup_viewscreen:hover .attach-icon-div-gallery{
                 opacity:1;
                 -webkit-transition:  all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
             }

              .multiple-camera-modal    .setup_viewscreen{
                 -webkit-transition:  all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
             }

</style>

<div class="modal fade scroll-modal multiple-camera-modal custom-modal" id="modal-uploaddocument" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><img src="/Content/CaseNote/images/close.png"></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Upload Document</h2>
                <form id="formUploadDocument" enctype="multipart/form-data">

                    <div class="max_items_addn popup-addn-scroll">

                        <div class="col-xs-12" id="divcapimage" style="/* display: none; */">
                            <div class="camera-radio">




                                <div class="select_camera">
                                    <label for="videoSource">Select Camera: </label>
                                </div>
                                <div class="sel_opt_camera">
                                    <select id="videoSource"></select>
                                </div>


                            </div>
                            <div class="col-xs-12 setup-camo" id="setup-camera-div">
                                <div class="col-xs-12 col-sm-12 col-lg-12 mob-div-pad no-padding">

                                    <video autoplay="" muted="" playsinline=""></video>

                                    <div class="col-xs-12 setup-snap">


                                        <a href="#" id="anchor-capture" data-toggle="tooltip" title="" data-original-title="click to capture image">
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>

                                <div class="col-xs-12 div-image-snap-gallery">


                                </div>

                            </div>




                        </div>










                    </div>



                    <div class="col-xs-12 bdr-popup"></div>
                    <div class="form-group final-btn text-center glossy_btn adddivspace">

                        <button class="glossy-button-button button-green" type="button" id="btn-modal-doc-add">
                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                            Add
                        </button>
                        <button class="glossy-button-button button-red" type="button" id="btn-modal-doc-cancel" data-dismiss="modal">
                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                            Exit
                        </button>
                    </div>

                </form>


            </div>
        </div>
    </div>

</div>