<div class="modal fade scroll-modal" id="modal-uploaddocument" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><img src="/Content/CaseNote/images/close.png"></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Upload Document</h2>
                <form id="formUploadDocument" enctype="multipart/form-data">

                    <div class="max_items_addn popup-addn-scroll">

                        <div class="col-xs-12" id="divcapimage" style="/* display: none; */">
                            <div class="camera-radio">




                                <div class="select_camera">
                                    <label for="videoSource">Select Camera: </label>
                                </div>
                                <div class="sel_opt_camera">
                                    <select id="videoSource"></select>
                                </div>


                            </div>
                            <div class="col-xs-12 setup-camo" id="setup-camera-div">
                                <div class="col-xs-12 col-sm-12 col-lg-12 mob-div-pad no-padding">

                                    <video autoplay="" muted="" playsinline=""></video>

                                    <div class="col-xs-12 setup-snap">


                                        <a href="javascript:void(0);" id="anchor-capture" data-toggle="tooltip" title="" data-original-title="click to capture image">
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>

                                <div class="col-xs-12 div-image-snap-gallery">


                                </div>

                            </div>




                        </div>










                    </div>



                    <div class="col-xs-12 bdr-popup"></div>
                    <div class="form-group final-btn text-center glossy_btn adddivspace">

                        <button class="glossy-button-button button-green" type="button" id="btn-modal-doc-add">
                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                            Add
                        </button>
                        <button class="glossy-button-button button-red" type="button" id="btn-modal-doc-cancel" data-dismiss="modal">
                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                            Exit
                        </button>
                    </div>

                </form>


            </div>
        </div>
    </div>

</div>