
<style type="text/css">
      .billing-inner-label label, .billing-inner-label span {
             color: #333;
             font-weight: normal !important;
             font-size: 15px;
             margin-bottom: 0;
             margin-top: 10px;
         }

         .bill-radio {
             margin: 0.5rem;
             display: inline-block;
         }

             .bill-radio input[type="radio"] {
                 position: absolute;
                 opacity: 0;
             }

         .billing-inner input {
             background: transparent;
             color: #333;
             border: 1px solid #333;
             border-radius: 8px !important;
             height: 40px;
         }

         .bill-radio label {
             padding-left: 0;
             color: #333;
         }

         .bill-radio input[type="radio"]:checked + .radio-label:before {
             background-color: #295b8f;
             box-shadow: inset 0 0 0 4px #fff;
         }

         .bill-radio input[type="radio"] + .radio-label:before {
             content: '';
             background: none;
             border-radius: 100%;
             border: 1px solid #333;
             display: inline-block;
             width: 1.4em;
             height: 1.4em;
             position: relative;
             top: -0.2em;
             margin-right: 1em;
             vertical-align: top;
             cursor: pointer;
             text-align: center;
             -webkit-transition: all 250ms ease;
             transition: all 250ms ease;
         }

    @@media only screen and (min-width:768px) and (max-width:1200px) {
        strong.pir-Q-lbl {
            min-height: 0 !important;
            float: left;
        }
   
        .title-fixed {
            position: static;
            padding-left: 0;
        }

        .protype-solid span textarea {
            height: 50px;
            width: 100% !important;
        }

        .protype-solid span {
            width: 55% !important;
            float: left;
        }

        .protype-solid label {
            width: 45% !important;
            float: left;
        }

            .protype-solid label input {
                width: 30px !important;
                float: left;
            }
    }

    .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
    .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
    .edu-protextarea textarea {
        width: 65%;
        float: left;
        height: 60px;
        margin-bottom: 15px;
        max-width: 65%;
    }
     .error-notify{
        color:red;
    }
    .protype-solid span textarea {
        height: 50px;
        width: 60%;
    }

    .parent-solid .protype-solid label input {
        margin-right: 8px;
    }

    .protype-solid {
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .edu-protextarea.edu_new_child textarea {
        width: 54%;
        margin-right: 15px;
    }

    .edu_new_child span {
        margin-top: 13px;
        float: left;
    }

    .edu-boxmade label {
        color: #163b69 !important;
    }

    .protype-solid label {
        width: 30%;
        float: left;
    }

    .protype-solid span {
        width: 70%;
        float: left;
    }

    strong.pir-Q-lbl {
        min-height: 60px;
        float: left;
    }







    @@media only screen and (min-width: 767px) and (max-width: 991px) {
        .response-addicspace {
            margin-top: 12px;
        }
    }

    .err-bg {
        background-color: pink !important;
    }

    .pir-q-p {
        background: none !important;
        border: none !important;
        display: inline-block;
    }

    .pir-Q-lbl {
        display: inline-block;
    }

    .m-tp {
        margin-bottom: 5px;
    }

    .btn-accept {
        border-radius: 4px;
    }

    .addapplicant {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #295b8f;
        color: #295b8f;
        padding: 15px 0;
        margin: 0 15px;
    }

    .new-casenote {
        width: 100%;
        float: left;
    }

    .edu_header .addInnerChildContent {
        border: 1px solid #ccc;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 1px #ccc;
        margin-bottom: 15px;
    }

    .edu_header h3 {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #295b8f;
        color: #295b8f;
        padding: 15px 0;
        text-transform: capitalize;
    }

    .transition-inner21 .form-control {
        background: #fff;
        border: 1px solid #e7e7e7;
        padding: 10px 10px;
        color: #163b69;
        text-align: left;
        font-size: 15px;
        margin: 0;
        text-transform: none;
        width: 100%;
        float: left;
        height: 43px;
        box-shadow: none;
        border-radius: 0;
    }

    #btnAcceptImmune {
        margin-left: 25px;
        margin-top: 5px;
    }

    @@media only screen and (min-width: 1024px) and (max-width: 1290px) {
        .response-mtop {
            margin-top: 10px !important;
        }
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .response-mtop {
            margin-top: 10px !important;
        }
    }


.internal_reference .modal-content {
    background: url(../../Images/body-bg.jpg) center no-repeat #000 !important;
    background-size: cover !important;
    background-position: 100% 100% !important;
    /* background-color: #74c2e1; */
    color: #fff;
}
.internal_reference_setup {
    width: 100%;
    float: left;
    background-color: #fff;
    border-radius: 7px;
    padding: 15px;
}

.internal_reference .enroll-sec p{
        float: left;
    font-weight: 600;
    color: #1b5c96;
}
.internal_reference .addapplicant
{
        border-bottom: 2px solid #f9c751!important;
    margin: 8px 0 12px !important;
    color: #1b5c96;
    padding-bottom: 5px;

}
.internal_reference .my-btn,.internal_reference .my-btn:hover {
    background-color: #4CAF50;
}
.internal_reference .my-btn-exit,.internal_reference .my-btn-exit:hover{background: #db4437 !important;}

.enroll-sec {
    width: auto;
    display: inline-block;
    float: left;
}
.internal_reference_radiobtn .radio.radio-info {
    /* float: left; */
    margin-top: 0px;
    width: auto;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.internal_reference_radiobtn .radio {
    padding-left: 20px;
    /* text-align: center; */
}
.internal_reference_radiobtn .radio-info input[type="radio"]:checked + label {
    color: #163b69;
}
.internal_reference_radiobtn .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    color: #163b69;
    font-size: 15px;
}
.internal_reference_radiobtn .radio-info input[type="radio"]:checked + label::before {
    border-color: #163b69;
    color: #163b69;
}
.internal_reference_radiobtn .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #163b69;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    top: 2px;
}
.internal_reference_radiobtn .radio-info input[type="radio"]:checked + label::after {
    background-color: #163b69;
    color: #163b69;
}
.internal_reference_radiobtn .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.internal_reference_radiobtn .radio-info input[type="radio"] + label::after {
    background-color: #163b69;
    color: #163b69;
}
.internal_reference_radiobtn .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 8px;
    height: 8px;
    left: 4px;
    top: 6px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.internal_reference_radiobtn .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.chk-box-ch .fa-checkbox input[type='checkbox'] {
    display: none !important;
}
.fa-checkbox input[type="checkbox"] + label:before {
    color: #163a68;
}

.fa-checkbox input[type='checkbox'] + label:before, .chk-box-ch .fa-radio input[type='radio'] + label:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    width: 20px;
    position: relative;
    top: 3px;
}
.fa-checkbox input[type="checkbox"] + label:before {
    content: "\f096";
    position: relative;
    top: 0px;
    margin-right: 10px;
}
.fa-checkbox input[type="checkbox"]:checked + label:before {
    top: 3px;
}

.fa-checkbox input[type="checkbox"]:checked + label:before {
    color: #3FC593;
    content: "\f14a";
    position: relative;
    top: 0px;
}
.fa-checkbox input[type="checkbox"] + label:before {
    color: #163a68;
}
.fa-checkbox input[type='checkbox'] + label:before, .chk-box-ch .fa-radio input[type='radio'] + label:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    width: 20px;
    position: relative;
    top: 3px;
}
.fa-checkbox input[type="checkbox"] + label:before {
    content: "\f096";
    position: relative;
    top: 0px;
    color: #163a68;
    margin-right: 10px;
}
.ersea-detl-title h3{font-weight:bold;}
</style>




@using (Html.BeginForm("SaveInternalReferral", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="modal fade internal_reference" id="ModalAddCasenote" role="dialog">
    <div class="modal-dialog income-popup width-auto">
        <div class="modal-content">
            <div class="modal-header">
                @*<h3 class="text-center">Internal Reference<span class="extra-title muted"></span></h3>*@
                <div class="col-xs-12 ersea-detl-title">
                    <h3>Internal Referral</h3>
                    <div class="ersea_ovr"><img src="/images/text-bdr.png" class="img-responsive"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="row divReferTo" style="display:none!important;">
                    <div class="alert alert-info col-xs-12" role="alert" style="border-radius:unset;line-height:25px;width:50%;margin-left:25%">
                        <div class="col-lg-1 col-xs-2" style="font-weight:bold;margin-top:0px;">Note!&nbsp;</div>
                        <div class="col-lg-11 col-xs-10">
                            <span id="spnReferTo"> No internal referral found   </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                        <div class="add-useragform1">
                            <div class="col-sm-12">
                                <fieldset class="internal_reference_setup">
                                    <legend class="legend1"></legend>
                                    <div class="col-xs-12 col-sm-12" style="margin-bottom: 1px;">
                                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                            <div class="enroll-sec" style="padding-left: 0;">
                                                <div class="transition-content-desc" style="position: relative;">                          
                                                    <p style="background: none;border: none;">Name</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-xs-7" style="padding:0;">
                                            <div class="transition-radio-btn enroll-sec margin-enroll" style="margin-left:0px;">
                                                <div class="col-sm-12">
                                                    <label style="width: 100%; font-size: 15px;font-weight:600;" id="lblClientName">Test</label>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             
                                    <div class="col-xs-12 col-sm-12" style="margin-bottom: 1px;">
                                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                            <div class="enroll-sec" style="padding-left: 0;">
                                                <div class="transition-content-desc" style="position: relative;">
                                                    <p style="background: none;border: none;">Center</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <label style="width: 100%; font-size: 15px;font-weight:600;" id="lblCenterName">Test</label>
                                        </div>
                                    </div>   
                                    <div class="col-xs-12 col-sm-12" style="margin-bottom: 1px;">
                                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                            <div class="enroll-sec" style="padding-left: 0;">
                                                <div class="transition-content-desc" style="position: relative;">
                                                    <p style="background: none;border: none;">Classroom</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <label style="width: 100%; font-size: 15px;font-weight:600;" id="lblClassroom">Test</label>
                                        </div>
                                    </div>    
                                    <div class="col-xs-12 col-sm-12" style="margin-bottom: 1px;">
                                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                            <div class="enroll-sec" style="padding-left: 0;">
                                                <div class="transition-content-desc" style="position: relative;">
                                                    <p style="background: none;border: none;">Developmental Team<span class="error-notify">*</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7" style="padding:0;">
                                            <div class="col-xs-12" id="RolesDiv" style="border: 1px solid #ddd;padding: 10px 0;margin-left: 15px;width: 85%;">
                                             <input type="hidden" name="CaseClientId" id="CaseNoteClientId" />
                                                <input type="hidden" name="CaseCenterId" id="CaseNoteCenterId" />
                                                <input type="hidden" name="CaseClassroomId" id="ClassroomId" />
                                                <input type="hidden" name="Tags" id="Tags" />
                                                <input type="hidden" name="CaseHouseholdId" id="HouseholdId" />
                                                <input type="hidden" name="CaseProgramId" id="CaseNoteProgramId" />
                                                <div class="transition-radio-btn enroll-sec margin-enroll" id="InsuranceTypeID" style="margin-left:0px;">
                                                    <div id="DivAppendRoles"></div>
                                                    <div class="col-lg-6 col-xs-12">
  
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                    </div>     
                                    
                                    <div class="col-xs-12 col-sm-12" style="margin-bottom: 1px;margin-top:10px;display:none;" id="chkYakkrDiv">
                                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                            <div class="enroll-sec" style="padding-left: 0;">
                                                <div class="transition-content-desc" style="position: relative;">
                                                    <p style="background: none;border: none;">Send Yakkr</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7" style="padding:0;">

                                            <div class="col-lg-12 col-xs-12">

                                                <div class="transition-radio-btn enroll-sec margin-enroll" id="InsuranceTypeID" style="margin-left:0px;">
                                                    <div class="col-xs-12 no-padding" style="width:auto;display:inline-block;margin-right: 15px;">
                     
                                                        <div class="fa-checkbox">
                                                            <input type="checkbox" id="yakkrcode" name="YakkrCode" value="" style="display:none;" class="check1">
                                                            <label for="yakkrcode"id="lblyakkrcode" style="color:black;font-size:14px;text-align:left;margin-bottom:12px;margin-bottom: 0;width: 100%;padding-top: 0;"></label>
                                                        </div>
                                                    </div>

                            
                                                </div>
                                            </div>

                                           
                                        </div>
                                    </div> 
                                    
                                    <div class="col-xs-12 col-sm-12 adddivspace">
                                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                            <div class="enroll-sec" style="padding-left: 0;">
                                                <div class="transition-content-desc" style="position: relative;">
                                                    <p style="background: none;border: none;">Note<span class="error-notify">*</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-7">
                                            <textarea type="text" onblur="UpdateCaseNoteContent(this)" class="form-control" id="txtNotes" name="Note" value="" placeholder="Note" style="resize: none;"></textarea>
                                        </div>
                                    </div>   
                                    <div id="divTransportation" style="display:none;" >
                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Pickup details</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-sm-7">
                                                <textarea type="text" readonly class="form-control" id="txtPickup" name="Note" value="" placeholder="Pickup Details" style="resize: none;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Drop Details</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-sm-7">
                                                <textarea type="text"  readonly class="form-control" id="txtDrop" name="Note" value="" placeholder="Drop Details" style="resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>                              
                                    @* case note *@
                                    <div class="col-xs-12 col-lg-12 no-padding new-casenote" id="caseNoteStatDiv">
                                        <h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i>  Case Note</h3>
                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Date<span class="error-notify">*</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-sm-7">
                                                <input type="text" class="form-control" id="txtStatusCaseNoteDate" name="Date" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="MM/DD/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Title<span class="error-notify">*</span></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-sm-7">
                                                <input type="text" class="form-control" name="Title" id="txtStatusCaseNoteTitle" value="Internal Referral" placeholder="Case Note Title" />
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Note<span class="error-notify">*</span></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-sm-7">
                                                <textarea id="nREFNote" name="CaseNote" style="visibility: hidden; display: none;"></textarea>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Tags<span class="error-notify">*</span></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-sm-7">
                                                <input type="text" id="status_CaseNotetags" name="Tags" class="form-control ui-autocomplete-input" />
                                              </div>
                                        </div>    

                                        <div class="col-xs-12 col-sm-12 adddivspace">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Clients<span class="error-notify">*</span></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-sm-7 no-padding" id="statusclientsDiv">


                                            </div>
                                        </div>   
                                        <div class="col-xs-12 col-sm-12 adddivspace" id="statusattachmentsDiv">
                                            <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                                                <div class="enroll-sec" style="padding-left: 0;">
                                                    <div class="transition-content-desc" style="position: relative;">
                                                        <p style="background: none;border: none;">Attachment</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-9 col-sm-7">
                                                <div class="col-sm-7 col-lg-6 no-padding">
                                                    <input type="file" id="FirstFile" name="Attachments"  class="form-control">
                                                </div>
                                                <div class="col-sm-3 col-lg-3 adddivspace response-addicspace">

                                                    <a href="javascript:void(0)" id="Attachmectstag" title="Add Attachment" onclick="addMoreStatusAtt(this);"><i class="fa fa-plus-circle"></i>&nbsp;Add</a>

                                                </div>
                                            </div>

                                            <div class="col-lg-9" id="addAttachmentDiv" style="margin-left:25%">

                                            </div>

                                        </div>
                                                                                               
                                    </div>
                                    @* case note *@
                                </fieldset>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="btnwrp_subcal">
                            <button type="submit" onclick="return SetDataForNREF()" class="my-btn" >Submit</button>
                            <button tabindex="17" class="my-btn my-btn-exit" data-dismiss="modal" type="button">Exit</button>
                        </div>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>
}


<div class="modal fade in" id="transportation" role="dialog" style="display: none;background: rgba(0,0,0,0.4);" aria-hidden="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content col-xs-12">
            <div class="modal-header col-xs-12">
                <input type="hidden" name="childid" id="childid" value="">
                <input type="hidden" name="childname" id="childname" value="">
                <label class="alert-dismissible" for="current_password" style="font-size: 20px;color: #295b8f;">Transportation</label>
                <input type="hidden" class="transportation-id" />
            </div>
            <div class="col-xs-12">
                <div class="form-group input-container">
                    <label class="control-label" style="margin-left: 0;display:inline-block;">Pick child up from home?</label>
                    <div class="col-xs-12 billing-form-div no-padding" style="padding:0;width:auto;display:inline-block;">
                        <div class="col-xs-12" style="padding:0;">
                            <div class="billing-inner">
                                <div class="bill-radio">
                                    <input id="rdEmailYes" name="Pickup" onchange="Pickup(this);" class="rd-email Pickup" value="1" type="radio">
                                    <label for="rdEmailYes" class="radio-label">Yes</label>
                                </div>

                                <div class="bill-radio">
                                    <input id="rdEmailNo" name="Pickup" onchange="Pickup(this);" value="0" class="rd-email Pickup" type="radio">
                                    <label for="rdEmailNo" class="radio-label">No</label>
                                </div>
                                <div class="bill-radio">
                                    <input id="rdEmailNA" name="Pickup" onchange="Pickup(this);" value="2" class="rd-email Pickup" type="radio">
                                    <label for="rdEmailNA" class="radio-label">Not Needed</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pickup-details" style="display:none;">
                    <div class="form-group input-container">
                        <label class="control-label" for="current_password" style="margin-left: 0;">Address</label>
                        <input name="CNotes" class="form-control txt-mandatory txt-org-input" style="width:50%" id="txtPickupAddress" type="text" maxlength="50" value="">
                    </div>
                    <div class="form-group input-container">
                        <label class="control-label lbl-required" for="current_password" style="margin-left: 0;">ZIP Code</label>
                        <input name="CNotes" class="form-control txt-mandatory txt-org-input" style="width:50%" id="txtPickupZipcode" type="text" maxlength="50" value="">
                    </div>
                </div>

            </div>
            <div class="col-xs-12" style="margin-top:20px;">
                <div class="form-group input-container">
                    <label class="control-label" style="margin-left:0;display:inline-block;">Drop off child to home?</label>
                    <div class="col-xs-12 billing-form-div no-padding" style="padding:0;width:auto;display:inline-block;">
                        <div class="col-xs-12" style="padding:0;">
                            <div class="billing-inner">

                                <div class="bill-radio">
                                    <input id="rdPrintYes" name="Drop" onchange="Drop(this);" class="rd-print Drop" value="1" type="radio">
                                    <label for="rdPrintYes" class="radio-label">Yes</label>
                                </div>

                                <div class="bill-radio">
                                    <input id="rdPrintNo" name="Drop"  onchange="Drop(this);" class="rd-print Drop" value="0" type="radio">
                                    <label for="rdPrintNo" class="radio-label">No</label>
                                </div>
                                <div class="bill-radio">
                                    <input id="rdPrintNA" name="Drop"  onchange="Drop(this);" class="rd-print Drop" value="2" type="radio">
                                    <label for="rdPrintNA" class="radio-label">Not Needed</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drop-details" style="display:none;">
                    <div class="form-group input-container">
                        <label class="control-label" for="current_password" style="margin-left: 0;">Address</label>
                        <input name="CNotes" class="form-control txt-mandatory txt-org-input" style="width:50%" id="txtDropAddress" type="text" maxlength="50" value="">
                    </div>
                    <div class="form-group input-container">
                        <label class="control-label lbl-required" for="current_password" style="margin-left: 0;">ZIP Code</label>
                        <input name="CNotes" class="form-control txt-mandatory txt-org-input" style="width:50%;" id="txtDropZipcode" type="text" maxlength="50" value="">
                    </div>
                </div>

            </div>
            <div class="col-xs-12" style="text-align:center;padding: 15px;border-top: 1px solid #e5e5e5;">
                <button class="btn-save-transportation btn-primary btn" onclick="SetAddress();">Save</button>
                <button class="btn-primary btn btn-close-transportaion" onclick="Closetransportaion();">Back</button>
            </div>
        </div>

    </div>
</div>
