
@model FingerprintsModel.MentalHealthDashboard
@using (Html.BeginForm("SaveMentalHealthClient", "MentalHealth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row divChangeStatus" id="DivClientDetails" style="display:none">
    <div class="col-sm-12" style="margin:15px">
        <fieldset id="fieldsetid" class="metalration_intor" style="border: 1px solid #295b8f;">
            <div id="divform">
                <input type="hidden" name="ClientId" id="ClientId" value="" />
                <input type="hidden" name="CenterId" id="CenterId" value="" />
                <input type="hidden" name="YakkrId" id="YakkrId" value="" />
                <input type="hidden" name="Mode" id="Mode" value="" />
                <div class="edutitle-heading">
                    <h2><i class="fa fa-child"></i>  Client Details</h2>
                </div>
                <div class="col-sm-12 no-padding" style="margin-bottom: 5px;">
                    <div class="col-sm-5">
                        <label style="width: 100%;">Client</label>
                    </div>
                    <div class="col-sm-7">
                        <label style="width: 100%; font-size: 15px; font-weight: bold; color: #333;" id="clientName">Daniel</label>
                    </div>
                </div>
                <div class="col-sm-12 no-padding" style="margin-bottom: 5px;">
                    <div class="col-sm-5">
                        <label style="width: 100%;">Date of Birth</label>
                    </div>
                    <div class="col-sm-7">
                        <label style="width: 100%; font-size: 15px; font-weight: bold; color: #333;" id="clientDOB">Daniel</label>
                    </div>
                </div>
                <div class="col-sm-12 no-padding" style="margin-bottom: 5px;">
                    <div class="col-sm-5">
                        <label style="width: 100%;">Family Advocate</label>
                    </div>
                    <div class="col-sm-7">
                        <label style="width: 100%; font-size: 15px; font-weight: bold; color: #333;" id="clientFSW">Daniel</label>
                    </div>
                </div>
                <div class="col-sm-12 adddivspace no-padding"  style="display:none;" id="DivForIndicated">
                    <div class="col-sm-5">
                        <label style="width: 100%;"> Health Status <span class="error-notify">*</span></label>
                    </div>
                    <div class="col-sm-7">
                        <select class="form-control" id="MHStatus" name="MHStatus">
                            <option value="0"> --Select Status--</option>
                            <option value="1"> Qualified</option>
                            <option value="2"> Released</option>
                        </select>
                    </div>
                </div>                           
                <div id="DivForQualified" style="display:none;"> 
                    <div class="col-sm-12 adddivspace no-padding" >
                        <div class="col-sm-5">
                            <label style="width: 100%;">Time spent with the child (in hours)<span class="error-notify">*</span></label>
                        </div>
                        <div class="col-sm-7">
                           <input type="text" name="TimeSpent"  style="width:43%;margin-bottom:18px;" placeholder="00:00" class="form-control"/>
                        </div>
                    </div>                       
                        <div class="col-lg-12 section_setoff">
                            <label class="inkind_color">Consulted with the parent(s) / guardian(s) about their child’s behavior/mental health</label>
                            <div>
                                <div class="transition-radio-btn enroll-sec AssignToWhom">

                                    <div class="radio radio-info sublab">
                                        <input type="radio" name="ConsultParent" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="radio radio-info sublab">
                                        <input type="radio" name="ConsultParent" value="false">
                                        <label>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-12 section_setoff">
                        <label class="inkind_color">Consulted with the staff about  child’s behavior/mental health</label>
                        <div>
                            <div class="transition-radio-btn enroll-sec AssignToWhom">

                                <div class="radio radio-info sublab">
                                    <input type="radio" name="ConsultStaff" value="true">
                                    <label>Yes</label>
                                </div>
                                <div class="radio radio-info sublab">
                                    <input type="radio" name="ConsultStaff" value="false">
                                    <label>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="col-lg-12 section_setoff">
                            <label class="inkind_color">MH professional provided an individual mental health assessment</label>
                            <div>
                                <div class="transition-radio-btn enroll-sec AssignToWhom">

                                    <div class="radio radio-info sublab">
                                        <input type="radio" name="ProvideAssessment" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="radio radio-info sublab">
                                        <input type="radio" name="ProvideAssessment" value="false">
                                        <label>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 section_setoff">
                            <label class="inkind_color">MH professional facilitated a referral for mental health services</label>
                            <div>
                                <div class="transition-radio-btn enroll-sec AssignToWhom">

                                    <div class="radio radio-info sublab">
                                        <input type="radio" name="ProvideService" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="radio radio-info sublab">
                                        <input type="radio" name="ProvideService" value="false">
                                        <label>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                @* case note *@
                <div class="col-xs-12 col-lg-12 no-padding new-casenote" style="display:none;" id="caseNoteStatDiv">
                    <div class="edutitle-heading">
                        <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Case  Notes</h2>
                    </div>
                    <div class="col-xs-12 col-sm-12 adddivspace">
                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                            <div class="enroll-sec" style="padding-left: 0;">
                                <div class="transition-content-desc" style="position: relative;">
                                    <p style="background: none;font-weight: 600;border: none;">Date<span class="error-notify">*</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-7">
                            <input type="text" class="form-control" id="txtStatusCaseNoteDate" name="Date" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="MM/DD/YYYY" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 adddivspace">
                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                            <div class="enroll-sec" style="padding-left: 0;">
                                <div class="transition-content-desc" style="position: relative;">
                                    <p style="background: none;font-weight: 600;border: none;">Title<span class="error-notify">*</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-7">
                            <input type="text" class="form-control" name="Title" id="txtStatusCaseNoteTitle" value="" placeholder="Enter Case Note Title" />
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 adddivspace">
                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                            <div class="enroll-sec" style="padding-left: 0;">
                                <div class="transition-content-desc" style="position: relative;">
                                    <p style="font-weight: 600;background: none;border: none;">Note<span class="error-notify">*</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-7">
                            <textarea id="MHcasenote" name="MHcasenote" style="visibility: hidden; display: none;"></textarea>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 adddivspace">
                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                            <div class="enroll-sec" style="padding-left: 0;">
                                <div class="transition-content-desc" style="position: relative;">
                                    <p style="background: none;font-weight: 600;border: none;">Tags<span class="error-notify">*</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-7">
                            <input type="text" id="status_CaseNotetags" name="Tags" class="form-control ui-autocomplete-input" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 adddivspace">
                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                            <div class="enroll-sec" style="padding-left: 0;">
                                <div class="transition-content-desc" style="position: relative;">
                                    <p style="background: none;font-weight: 600;border: none;">Clients<span class="error-notify">*</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-7 no-padding" id="statusclientsDiv">


                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 adddivspace" id="statusattachmentsDiv">
                        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
                            <div class="enroll-sec" style="padding-left: 0;">
                                <div class="transition-content-desc" style="position: relative;">
                                    <p style="background: none;border: none;font-weight: 600;">Attachment</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-sm-7">
                            <div class="col-sm-7 col-lg-6 no-padding">
                                <input type="file" id="FirstFile" name="Attachments" class="form-control">
                            </div>
                            <div class="col-sm-3 col-lg-3 adddivspace response-addicspace">

                                <a href="javascript:void(0)" id="Attachmectstag" title="Add Attachment" onclick="healthDashboard.addMoreStatusAtt(this);"><i class="fa fa-plus-circle"></i>&nbsp;Add</a>

                            </div>
                        </div>

                        <div class="col-lg-9" id="addAttachmentDiv" style="margin-left:25%">

                        </div>

                    </div>
                    <div class="col-sm-12" style="text-align: center;margin-top:20px">
                        <button type="submit" class="my-btn" style="background: #4caf50 !important;" id="savechild" margin-bottom 20%;" onclick="return healthDashboard.SaveClientDetails();">
                            Save
                        </button>
                        <button type="button" class="my-btn" id="cancelForm" onclick="healthDashboard.Cancelform();">
                            Cancel
                        </button>
                    </div>
                </div>
                @* case note *@

                @* notes list *@
                <div id="caseNoteList" >
                    <div class="edutitle-heading">
                        <h2><i class="fa fa-pencil-square-o"></i>Casenote List</h2>
                    </div>
                    <table style="margin-top: 18px;" class="col-md-12 table-striped table-condensed cf table-change addn-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Notes</th>
                                
                            </tr>
                        </thead>
                        <tbody class="addn-table-head">

                            <tr casenoteid="475">
                                <td data-title="Date">
                                    <div class="addn-content-desc" style="position: relative;">
                                        <p>06/21/2018</p>
                                    </div>
                                </td>
                                <td data-title="Title">
                                    <div class="addn-content-desc" style="position: relative;    cursor: pointer;">
                                        <p style="text-decoration: underline;" onclick="Getcasenote(475)">Internal Referral</p>
                                    </div>
                                </td>
                                <td data-title="By">
                                    <div class="addn-content-desc" style="position: relative;">
                                        <p>New Notes</p>
                                    </div>
                                </td>
                             

                            </tr>
                            <tr casenoteid="457">
                                <td data-title="Date">
                                    <div class="addn-content-desc" style="position: relative;">
                                        <p>06/18/2018</p>
                                    </div>
                                </td>
                                <td data-title="Title">
                                    <div class="addn-content-desc" style="position: relative;    cursor: pointer;">
                                        <p style="text-decoration: underline;" onclick="Getcasenote(457)">Internal Referral</p>
                                    </div>
                                </td>
                                <td data-title="By">
                                    <div class="addn-content-desc" style="position: relative;">
                                        <p>Notes Test</p>
                                    </div>
                                </td>
                               
                           
                            </tr>
                            <tr casenoteid="458">
                                <td data-title="Date">
                                    <div class="addn-content-desc" style="position: relative;">
                                        <p>06/18/2018</p>
                                    </div>
                                </td>
                                <td data-title="Title">
                                    <div class="addn-content-desc" style="position: relative;    cursor: pointer;">
                                        <p style="text-decoration: underline;" onclick="Getcasenote(458)">Internal Referral</p>
                                    </div>
                                </td>
                                <td data-title="By">
                                    <div class="addn-content-desc" style="position: relative;">
                                        <p>Notes 1</p>
                                    </div>
                                </td>
                              
                            </tr>

                        </tbody>
                    </table>
                </div>
                @* end of notes list *@
                </div>

    
              
        
                </fieldset>
    </div>
</div>
}