<style>
   
    .zoomed{
        position:absolute!important;
    }
    
     .withdrawn-color a
    {
        color:red!important;
    }
     .withdrawn-color td
    {
        color:red!important;
    }
    .child_name .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        left: 178px;
        line-height: 25px;
        border: 1px solid black;
    }
    sup{
        color:red;
    }
    div#EditDisablityType {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 24px;
}
    .manager-edu-btn {
    width: 100%;
    float: left;
        text-align: center;
    margin-top: 15px;
}
    .edu-typepro {
    padding-left: 31px;
    }
        .child_name .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%; /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }

    .child_name:hover .tooltiptext {
        visibility: visible;
    }

    .child_name:not( :hover ) .tooltiptext {
        visibility: hidden;
    }
    
        .scroll-thead th {
            border: 1px solid #f1f5f8;
        }

        .scroll-thead {
            display: table;
            /*width: 100%;*/
            table-layout: fixed;
            width: calc( 100% - 17px );
        }

        .scroll-tbody tr td{
            word-break: break-word;
        }

        .scroll-tbody {
            display: block;
            max-height: 250px;
            overflow: auto;
            overflow-x: hidden;
        }

            .scroll-tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
          #Modalclientenrolled .control-group {
    overflow: hidden !important;
}
          table#DivclientenrolledList {
    border: 0;
}
          .zoomify.zoomed {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: fixed!important;
    z-index: 1501;
    transform: scale(7) translate(51.2567px, -3.10938px)!important;
    top: 300px;
    z-index: 9999999!important;transition: all 200ms linear;
}
</style>
<div class="modal fade scroll-modal" id="Modalclientenrolled" role="dialog">
    <div class="modal-dialog income-popup width-auto">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="CenterName" class="text-center">List of Children with Possible Disabilities<span class="extra-title muted"></span></h3>
                <div class="col-sm-5 col-md-8 col-xs-12" style="line-height: 30px;font-weight: bolder;font-size: 16px; ">
                    <span style="float:left;">Center Name:</span>
                    <span id="centernameSpan" style="font-weight:normal;float:left;margin-left:10px; "></span>
                </div>

                <div class="col-sm-5 col-md-4 col-xs-12 pull-right" style="padding-right:0;">
                    <div class="btnwrp_subcal" style="padding:0; margin:0;">
                        <button type="button" class="my-btn pull-right" data-dismiss="modal">Exit</button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div>
                    <div class="row qualifierdiv">
                        <div class="row" style="margin-bottom:3%;">
                            <div class="col-sm-12">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="RaceId">Classrooms</label>
                                        <select id="Classroom" style="height:38px !important;" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="padding-top: 2%;">
                                    <button id="btnsearch" class="my-btn" onclick="drawgrid();">Search</button>
                                    <button id="btnclear" class="my-btn" onclick="cleargrid();">Clear</button>
                                    <input type="hidden" id="centerIdGrid" name="centerIdGrid" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                    <div class="table-responsive">
                                        <table class="table table_size" id="DivclientenrolledList">
                                            <thead style="cursor:pointer;" class="scroll-thead">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Profile Picture</th>
                                                    <th>Gender</th>
                                                    <th>DOB</th>
                                                    <th>District</th>
                                                    <th>FSW</th>
                                                    <th>Classroom Name</th>
                                                    <th>Teacher</th>
                                                    <th>Services </th>
                                                </tr>
                                            </thead>
                                            <tbody class="scroll-tbody"></tbody>
                                        </table>
                                        <div id="div1" style="text-align:center;display:none;">
                                            <label>No result found.</label>
                                        </div>
                                    </div>
                                    <div id="EditDisablityType" style="display: none;">
                                        <div class="edu-typepro">
                                            <label>Client : <span id="DisClientName">Trucker Crawner</span></label>
                                            
                                        </div>
                                        <div id="divEditDisType" class="col-sm-10 adddivspace" >
                                            <div class="col-sm-3">
                                                <label style="width: 100%;"> Disability Type <sup>*</sup></label>
                                            </div>
                                            <div class="col-sm-10" style="width: 127%;margin:15px 0px 15px 0px">
                                                <div class="col-sm-12">
                                                    <fieldset style="border: 1px solid #295b8f;padding-bottom: 22px;">
                                                        <legend class="legend1"></legend>

                                                        <label class="checkbox-inline" id="EditDisablityCheckbox"> </label>
                                                    
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="EditdivdPrimaryDisabilityType" style="" class="col-sm-10 adddivspace">
                                                        <div class="col-sm-3">
                                                            <label style="width: 100%;"> Primary Disability Type<sup>*</sup></label>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <select id="EditprimaryDisabilitySelect" style="display:none;" name="primaryDisabilitySelect" class="form-control"></select>
                                                            <label style="width: 100%;font-size: 15px;color:#333;font-weight:normal;display:none;" id="EditprimaryDisabilityLbl"></label>
                                                        </div>
                                                        
                                                    </div>

                                        <div class="manager-edu-btn">
                                            <button id="DisType" onclick="return SaveDisablityTypes(this);" class="my-btn">Submit</button>
                                            <button onclick="CancelForm();" class="my-btn1">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function CancelForm()
    {
        location.reload(this);
    }
    function bindEditPrimaryDisability(ele) {
        var primaryDisabilityDiv = $('#EditdivdPrimaryDisabilityType');
      //  var disabilityDiv = $('#divEditDisType');
        var disLength = $('.DisServiece:checked').length;
        var selectOption = "";
        if (disLength > 0) {
            if (disLength == 1) {

                var disId = $('.DisServiece:checked')[0].value;
                var disText = $('.DisServiece:checked')[0].nextSibling.innerHTML
               
                primaryDisabilityDiv.find('#EditprimaryDisabilityLbl').html(disText).attr('dis-id', disId);
                primaryDisabilityDiv.find('#EditprimaryDisabilityLbl').show();
                primaryDisabilityDiv.find('#EditprimaryDisabilitySelect').html('').hide();

                primaryDisabilityDiv.show();

            }
            else {
                selectOption += '<option value="0">--Select Primary Disability--</option>';

                $('.DisServiece:checked').each(function (i, dis) {

                    selectOption += '<option value=' + $(dis).attr('value') + '>' + $(dis).siblings('span').html() + '</option>';
                });
                primaryDisabilityDiv.find('#EditprimaryDisabilitySelect').html(selectOption).show();
                primaryDisabilityDiv.show();
                primaryDisabilityDiv.find('#EditprimaryDisabilityLbl').html('').attr('dis-id', 0);
                primaryDisabilityDiv.find('#EditprimaryDisabilityLbl').hide();
            }

        }
        else {
            primaryDisabilityDiv.find('#EditprimaryDisabilitySelect').html('');
            primaryDisabilityDiv.hide();
            primaryDisabilityDiv.find('#EditprimaryDisabilityLbl').html('').attr('dis-id', 0);
            primaryDisabilityDiv.find('#EditprimaryDisabilityLbl').hide();

        }
    }
   
    // while clicking Dis service can changes dis types
    function SaveDisablityTypes(arg) {
        var typeid = "";
        // var clientid = $(arg).attr('data-EClientid');

      
        $('.DisServiece').each(function () {
            if($(this).prop('checked')==true)
             typeid = typeid +  ','+$(this).val() ;
        });
        if (typeid == "")
        {
            customAlert("Please select anyone disablity type");
         
            return false;
        }
        if ($('#EditprimaryDisabilitySelect').is(':visible') == true && $('#EditprimaryDisabilitySelect').val() == "0")
        {
            customAlert("Please select primary disablity");
            plainValidation('#EditprimaryDisabilitySelect');
            return false;
        }
   

        var primaryDisId = 0;
        var primaryDisDiv = $('#EditdivdPrimaryDisabilityType');
        if (primaryDisDiv.find('#EditprimaryDisabilityLbl').is(':visible')) {
            primaryDisId = primaryDisDiv.find('#EditprimaryDisabilityLbl').attr('dis-id');
        }
        else if (primaryDisDiv.find('#EditprimaryDisabilitySelect').is(':visible')) {
            primaryDisId = primaryDisDiv.find('#EditprimaryDisabilitySelect').val();
        }
        typeid= typeid.slice(1);
        $.ajax({
            url: HostedDir + "/Home/SaveDisablityTypes",
            type: "POST",
            data: {
                ClientId: clientid,
                DisabilityTypeId: typeid,
                PrimaryDisablity: primaryDisId
            },
            dataType: "json",
            secureuri: false,
            async: false,
            success: function (data) {
                customAlert("Record saved successfully");
                setTimeout(function () { CancelForm(); }, 2000);
            }
      , error: function (data) {
          customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
      }
        });
    }
    //method to load the enrolled children//
    function Loadallenrolled(Object) {
        $.ajax({
            url: HostedDir + "/Home/Loadallenrolled",
            type: "POST",
            data: {
                Centerid: $(Object).attr("accesskey")
            },
            dataType: "json",
            secureuri: false,
            async: false,
            success: function (data) {
                BindClientenrolled(data, '');
            }
           , error: function (data) {
               customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
           }
        });
    }
    var clientid;
    function DisablityTypeByClientid(arg) {
         clientid = $(arg).attr('data-EClientid');
         $('#DisClientName').text($(arg).attr('data-ClientName'));
      
        $.ajax({
            url: HostedDir + "/Home/BindDisableTypeByClient",
            type: "POST",
            dataType: "json",
            secureuri: false,
            async: false,
            data: { Clientid: clientid },
            success: function (data) {
               
                var dts = ''
                $('#EditDisablityCheckbox').html('');
                var primaryid;
                var primaryDisabilityDiv = $('#EditdivdPrimaryDisabilityType');
                debugger;
                var selectOption = '';
                selectOption += '<option value="0">--Select Primary Disability--</option>';

                for (var i = 0; i < data.list.disabilitytype.length; i++) {
                    var id = data.list.disabilitytype[i].Id;
                    dts += '<div class="col-xs-6 col-sm-4" style="width:300px;"><label class="checkbox-inline"><input ';
                    if (data.list.disabilitytype[i].IsChecked == true) {
                        dts += 'checked="" type="checkbox" value=' + data.list.disabilitytype[i].Id + ' name="disabilitytype"  class="DisServiece" onclick="bindEditPrimaryDisability(this);"><span>' + data.list.disabilitytype[i].DisabilityType + '</span></label></div>';
                        selectOption += '<option value=' + data.list.disabilitytype[i].Id + '>' + data.list.disabilitytype[i].DisabilityType + '</option>';

                    }
                    else
                        dts += ' type="checkbox" value=' + data.list.disabilitytype[i].Id + ' name="disabilitytype" class="DisServiece" onclick="bindEditPrimaryDisability(this);"><span>' + data.list.disabilitytype[i].DisabilityType + '</span></label></div>';

                    if(data.list.disabilitytype[i].PrimaryTypeId ==1)
                    {
                        primaryid = data.list.disabilitytype[i].Id;
                    }

                }
              
                $('#EditprimaryDisabilityLbl').hide();            
                $('#EditDisablityCheckbox').html(dts);
                $('#EditDisablityType').show();
                $('#EditprimaryDisabilityLbl').html('').attr('dis-id', 0).hide();
                $('#EditprimaryDisabilitySelect').html(selectOption).show();
                $('#EditprimaryDisabilitySelect').val(primaryid);
            }
           , error: function (data) {
               customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
           }
        });
    }
    //method to bind the grid//
    function drawgrid() {
       
        $('#CenterId').val($('#centerIdGrid').val());
        $('#ClassroomId').val($("#Classroom").val());

        $.ajax({
            url: HostedDir + "/Home/Loadallenrolled",
            type: "POST",
            data: {
                Centerid: $('#centerIdGrid').val(),
                Classroom: $("#Classroom").val()
            },
            dataType: "json",
            secureuri: false,
            async: false,
            success: function (data) {
                BindClientenrolled(data, $("#Classroom").val());
            }
           , error: function (data) {
               customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
           }
        });
    }
    function showImage(ele) {
        $('#spinner').show();
        var enc_id = $(ele).attr('EClientId');
        $.ajax({
            url: '/Roster/GetChildrenImage',
            dataType: 'json',
            type: 'post',
            data: { enc_clientId: enc_id },
            success: function (data) {

                var image = '';
                if (data.Text == "" && data.Value == "2") {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/ic_female.png" />';
                }
                else if (data.Text == "" && data.Value == "1") {
                    image = '<img class="roundimage" width="50" height="50"   src="/Content/img/ic_male.png" />';
                }
                else if (data.Text == "" && ata.Text == "3") {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/ic_male_default.png" />';
                }
                else if (data.Text != "") {
                    image = '<img class="roundimage" width="50" height="50"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                }
                else {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/download.jpg" />';
                }

                //$(ele).parent('td').find('.tooltiptext').html(image).css({ 'top': (topalignment - 30), 'height': '110px', 'width': '120px' });
                //$(pic).parent('td').find('.roundimage').zoomify();

                $(ele).parent('td').append(image);
                $(ele).parent('td').find('.roundimage').zoomify();
                $(ele).remove();
                $('#spinner').hide();
            },
            error: function (data) {
                $('#spinner').hide();
            }
        });
    }

 
    //method to bind the enrolled client to modal popup//
    function BindClientenrolled(data, clsId) {
      
        if (data.list.Rosters == null) {
            $('#DivclientenrolledList > tbody > tr').remove();
            $('#div1').show();
        }
        else {
            $('#div1').hide();
            $('#DivclientenrolledList > tbody > tr').remove();

            var centerName = data.list.Rosters[0].CenterName;
            $('#Modalclientenrolled').find('#centernameSpan').html(centerName);

            for (var i = 0; i < data.list.Rosters.length; i++) {
                var tr = "";
                if (data.list.Rosters[i].IsWithdrawn == 1)
                {
                    tr += "<tr class='withdrawn-color'>";                  
                }
                else
                {
                    tr += "<tr>";                  
                }
                tr += '<td height="70" class="child_name"  EClientId="' + data.list.Rosters[i].Eclientid + '"  ><a href="#"  IsWithdrawn="' + data.list.Rosters[i].IsWithdrawn + '" clientid=' + data.list.Rosters[i].Eclientid + ' classroomid=' + data.list.Rosters[i].classroomid + '  CenterID="' + data.list.Rosters[i].CenterId + '"  Programid=' + data.list.Rosters[i].ProgramId + ' style="text-decoration: none;">' + data.list.Rosters[i].Name + '</a></td>';

                tr += '<td height="70" style="text-align:center;width:11%;">';
                tr += '<a href="javascript:void(0)" onclick="showImage(this);" EClientId="' + data.list.Rosters[i].Eclientid + '" >View</a>';
                tr += '</td>';

                tr += '<td height="70" style="text-align:center;">';
                if (data.list.Rosters[i].Gender == "2") {
                    tr += 'Female';
                }
                else if (data.list.Rosters[i].Gender == "1") {
                    tr += 'Male';
                }
                else if (data.list.Rosters[i].Gender == "3") {
                    tr += 'Other';
                }
                tr += '</td>';
                //End
               
                tr += '<td height="70">' + data.list.Rosters[i].DOB + '</td>';
                tr += '<td height="70">' + data.list.Rosters[i].District + '</td>';
                tr += '<td height="70">' + data.list.Rosters[i].FSW + '</td>';
                tr += '<td height="70" style="text-align:center;" title="' + data.list.Rosters[i].FSW + '">' + data.list.Rosters[i].ClassroomName + '</td>';
                tr += '<td height="70">' + data.list.Rosters[i].Teacher + '</td>';
                tr += '<td height="70" style="display:none;" class="divOne">' + data.list.Rosters[i].CenterId + '</td>'
                tr += '<td height="70">';
                tr += '<a style="text-decoration:underline;cursor:pointer;" title="Click here for Case Notes" href="' + HostedDir + '/Roster/CaseNotesclient/?id=' + data.list.Rosters[i].Eclientid + '&Householdid=0&centerid=' + data.list.Rosters[i].CenterId + '&Programid=' + data.list.Rosters[i].ProgramId + '">CN </a>  &nbsp';
                tr += '<a title="Click here to open Referals" style="text-decoration: underline; cursor: pointer;" href="' + HostedDir + '/Roster/ReferralService/?id=' + data.list.Rosters[i].Eclientid + '&Householdid=0&centerid=' + data.list.Rosters[i].CenterId + '&Programid=' + data.list.Rosters[i].ProgramId + '&ClientName=' + data.list.Rosters[i].Name + '">REF </a> &nbsp';
                tr += '<a style="text-decoration:underline;cursor:pointer;"  EClientId="' + data.list.Rosters[i].Eclientid + '"  data-programid="' + data.list.Rosters[i].ProgramId + '"   data-classroom="' + data.list.Rosters[i].ClassroomName + '" data-centerid="' + data.list.Rosters[i].CenterId + '"  data-classroomid="' + data.list.Rosters[i].classroomid + '" data-householdid="' + data.list.Rosters[i].Householid + '" data-centername="' + data.list.Rosters[i].CenterName + '" data-CName="' + data.list.Rosters[i].Name + '" onclick="AddCaseNote(this);" title="Click here for internal referral" href="#">nREF </a>  &nbsp ';
                if (data.list.Rosters[i].RosterYakkr == "1") {
                    tr += '<a style="text-decoration:underline;cursor:pointer;"  data-ClientName="' + data.list.Rosters[i].Name + '" data-EClientid="' + data.list.Rosters[i].Eclientid + '" onclick="DisablityTypeByClientid(this)" title="Click here to change disablity types" href="#EditDisablityType">DIS </a>  &nbsp ';
                }
                tr += '</td>';
             
                $('#DivclientenrolledList > tbody').append(tr);
            }

            if (!$('#Modalclientenrolled').hasClass('in'))
                $('#Modalclientenrolled').modal('toggle');
            $('#centerIdGrid').val(data.list.Rosters[0].CenterId);
        }
        if (data.list.ClassroomsNurse != null && data.list.ClassroomsNurse.length > 0) {
            var option = "";
            $('#Classroom').find('option').remove().end();
            if ($('#Classroom').find('option').length < 1) {
                for (var i = 0; i < data.list.ClassroomsNurse.length; i++) {
                    option = option + '<option value="' + data.list.ClassroomsNurse[i].ClassroomID + '">' + data.list.ClassroomsNurse[i].ClassName + '</option>';
                }
                $('#Classroom').find('option').remove().end().append(option);
                $('#Classroom').val(clsId);
            }
        }
    }


  
    function cleargrid() {
        $("#Classroom").val('0');
        drawgrid()
    }
   
    //method to get the profile picture on hover of client name//
    function getProfilePicture(pic) {

        //$('.tooltiptext').css({ 'visibility': 'hidden' });

        var enc_id = $(pic).attr('clientid');
        var position = $(pic).position();
        var topalignment = position.top;
        $.ajax({
            url: '/Roster/GetChildrenImage',
            dataType: 'json',
            type: 'post',
            data: { enc_clientId: enc_id },
            success: function (data) {

                var image = '';
                if (data.Text == "" && data.Value == "2") {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_female.png" />';
                }
                else if (data.Text == "" && data.Value == "1") {
                    image = '<img class="roundimage" width="100" height="100"   src="/Content/img/ic_male.png" />';
                }
                else if (data.Text == "" && ata.Text == "3") {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_male_default.png" />';
                }
                else if (data.Text != "") {
                    image = '<img class="roundimage" width="100" height="100"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                }
                else {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/download.jpg" />';
                }

                $(pic).parent('td').parent('tr').find('.tooltiptext').html(image).css({ 'top': (topalignment - 30), 'height': '110px', 'width': '120px' });
                $(pic).parent('td').parent('tr').find('.roundimage').zoomify();

            },
            error: function (data) {

            }
        });
    }

    // for nREF internal referral
    var cid;
    function SetDataForNREF() {
        cleanValidation();
        var isValid = true;
        $('#ClientId').val(clientid);

        var Tags = '';
        $('#status_CaseNotetags_tagsinput .tag span').each(function () {
            Tags = Tags + $(this).text().trim() + ',';
        });
        $('#Tags').val(Tags);
        Tags = '';

        $('#RolesDiv').css("background-color", "");


        //Case Note Section//
        if ($('.roletype:checked').length == 0) {
            isValid = false;
            plainValidation('#RolesDiv');
            customAlert('Please select developmental team role');
           
        }
        if ($('#txtNotes').val() == "") {
            isValid = false;
            plainValidation('#txtNotes');
            customAlert('Please enter notes');
           
        }
        if ($('#txtStatusCaseNoteDate').val() == '') {
            isValid = false;
            plainValidation('#txtStatusCaseNoteDate');
            customAlert('Please enter Case Note Date');
           
        }

        if ($('#txtStatusCaseNoteTitle').val() == '') {
            isValid = false;
            plainValidation('#txtStatusCaseNoteTitle');
            customAlert('Please enter Case Note Title');
           
        }

        //if ($('#nREFNote').val().trim() == '') {
        //    isValid = false;
        //    customAlert("Please enter Note");
        //    plainValidation('#statusNote');
          
        //}
        if ($('#statusclientsDiv').find('input[type=checkbox]:checked').length === 0) {

            isValid = false;
            customAlert('Please select Clients');
            
        }

        if ($('#status_CaseNotetags').val().trim() == "") {
            isValid = false;
            customAlert("Tags are  required.");
            plainValidation('#status_CaseNotetags');
          
        }
        if (isValid && $('#yakkrcode').val()=="700")
        {
            saveTransportation();
        }
       
        return isValid;

    }

    function OnSelectRoles(arg) {
        $('#transportation').modal('hide');
        $('.check1').prop('checked', false);
        $('#status_CaseNotetags_tagsinput').find('.tag').remove();
        $('#status_CaseNotetags').importTags("nREF,,;");
        $("#txtStatusCaseNoteTitle").val("Internal Referral")
        $('#chkYakkrDiv').show();
        Closetransportaion();
        if ($('.roletype:checked').val() == '699168ac-ad2d-48ac-b9de-9855d5dc9af8') {
            $('#yakkrcode').prop('checked', true);
            $('#yakkrcode').val("310");
            $('#lblyakkrcode').text("Yakkr - 310 ");
            $('#status_CaseNotetags').addTag('Y310');
            $("#txtStatusCaseNoteTitle").val("Mental Health Referral")
        }

        else if ($('.roletype:checked').val() == '6ed25f82-57cb-4c04-ac8f-a97c44bdb5ba') {
            $('#yakkrcode').prop('checked', true);
            $('#yakkrcode').val("700");
            $('#lblyakkrcode').text("Yakkr - 700 ");
            $('#status_CaseNotetags').addTag('Y700');
            $('#transportation').modal('show');
            TransportationNeeded();
          //  $('#ModalAddCasenote').modal('hide');
        }
        else if ($('.roletype:checked').val() == '047c02fe-b8f1-4a9b-b01f-539d6a238d80') {
            $('#yakkrcode').prop('checked', true);
            $('#yakkrcode').val("302");
            $('#lblyakkrcode').text("Yakkr - 302 ");
            $('#status_CaseNotetags').addTag('Y302');
        }
        else {
            $('#yakkrcode').prop('checked', true);
            $('#yakkrcode').val("292");
            $('#lblyakkrcode').text("Yakkr - 292 ");
            $('#status_CaseNotetags').addTag('Y292');
        }
    }
    function AddTags(arg) {
        if ($(arg).prop('checked') == true) {
            $('#status_CaseNotetags').addTag($(arg).val());
        }
        else {
            $('#status_CaseNotetags').removeTag($(arg).val());
        }
    }

   


    function addMoreStatusAtt(ele) {
        var index = $(ele).closest('#section_attachment').parent('div').find('.houseless-attach').length;



        var appendDiv = '<div class="col-lg-9 col-sm-7 no-padding adddivspace">\
                                                   <div class="col-sm-7 col-lg-8 no-padding">\
                                                       <input type="file" id="FirstFile" name="Attachments"  class="form-control">\
                                                   </div>\
                                                   <div class="col-sm-3 col-lg-3 adddivspace">\
                                                       <a href="javascript:void(0)"  title="Remove Attachment" onclick="removeStatusAtt(this);"><i class="fa fa-minus-circle"></i>&nbsp;Remove</a>\
                                                   </div>\
                                               </div>';

        $(ele).parent('div').parent('div').siblings("#addAttachmentDiv").append(appendDiv);


    }


    function removeStatusAtt(ele) {
        $(ele).parent('div').parent('div').remove();
    }

    function UpdateCaseNoteContent(arg) {
        CKEDITOR.instances['nREFNote'].setData($(arg).val());
    }

    //transpotation

    function TransportationNeeded()
    {
        //if (arg.value == "True") {
            
        //}
        $.ajax({
            dataType: 'json',
            type: "POST",
            async: false,
            url: "/AgencyUser/GetTransportationDetails",
            data: { 'ClientId': cid },
            success: function (data) {
                console.log(data);
                var result = JSON.parse(data);
                if (result.length > 0) {
                    $('.transportation-id').val(result[0].Id);
                    if (result[0].PickupStatus == true) {
                        $('.pickup-details').hide();
                        $('#rdEmailYes').prop('checked', true);
                        $('#txtPickupAddress').val("");
                        $('#txtPickupZipcode').val("");
                    }
                    else {
                        $('.pickup-details').show();
                        $('#rdEmailNo').prop('checked', true);
                        $('#txtPickupAddress').val(result[0].PickupAddress);
                        $('#txtPickupZipcode').val(result[0].PickupZipcode);
                    }
                    if (result[0].DropStatus == true) {
                        $('.drop-details').hide();
                        $('#rdPrintYes').prop('checked', true);
                        $('#txtDropAddress').val("");
                        $('#txtDropZipcode').val("");
                    }
                    else {
                        $('.drop-details').show();
                        $('#rdPrintNo').prop('checked', true);
                        $('#txtDropAddress').val(result[0].DropAddress);
                        $('#txtDropZipcode').val(result[0].DropZipcode);
                    }
                }
                $('#transportation').modal('show');
            },
            error: function (data) {
            }
        });
    }

    function Pickup(arg)
    {
        if (arg.value == "0")
            $('.pickup-details').show();
        else
            $('.pickup-details').hide();
        $('#txtPickupAddress').val("");
        $('#txtPickupZipcode').val("");
    }
 
    function Drop(arg)
    {
        if (arg.value == "0")
            $('.drop-details').show();
        else
            $('.drop-details').hide();
        $('#txtDropAddress').val("");
        $('#txtDropZipcode').val("");
    }
    function Closetransportaion()
    {
        
        $('#transportation').modal('hide');
        $('#txtPickupAddress').val("");
        $('#txtPickupZipcode').val("");
        $('#txtDropAddress').val("");
        $('#txtDropZipcode').val("");
        $('#rdEmailYes').prop('checked', true);
        $('#rdPrintYes').prop('checked', true);
        $('#divTransportation').hide();
    }

    function SetAddress()
    {
        var isAllow = true;
        if ($('.Pickup:checked').val() == undefined) {
            isAllow = false;
            customAlert("Select pickup option");

        }
        else if ($('.Pickup:checked').val() == "0") {
            if ($('#txtPickupAddress').val() == "") {
                isAllow = false;
                customAlert("Enter pickup address");
            }
            else if ($('#txtPickupZipcode').val() == "") {
                isAllow = false;
                customAlert("Enter pickup zipcode");
            }
        }
        if ($('.Drop:checked').val() == undefined && isAllow) {
            isAllow = false;
            customAlert("Select drop off option");
        }
        else if ($('input[type=radio][name=Drop]:checked').val() == "0") {
            if ($('#txtDropAddress').val() == "") {
                isAllow = false;
                customAlert("Enter drop off address");
            }
            else if ($('#txtDropZipcode').val() == "") {
                isAllow = false;
                customAlert("Enter drop off zip code");
            }
        }
        else if ($('.Drop:checked').val() == "2" && $('.Pickup:checked').val() == "2") {
            isAllow = false;
            customAlert("Both should not be Not Needed");
        }
        if (isAllow)
        {
            $('#divTransportation').show();
            $('#txtPickup').val($('.Pickup:checked').val() == "1" ? "Pick child up from home" : $('#txtPickupAddress').val() + ' , ' + $('#txtPickupZipcode').val())
            $('#txtDrop').val($('.Drop:checked').val() == "1" ? "Drop off child to home" : $('#txtDropAddress').val() + ' , ' + $('#txtDropZipcode').val())

            $('.internal_reference').css("overflow", 'auto');
            $('#transportation').modal('hide');
            //$('#txtPickupAddress').val("");
            //$('#txtPickupZipcode').val("");
            //$('#txtDropAddress').val("");
            //$('#txtDropZipcode').val("");
            //$('#rdEmailYes').prop('checked', true);
            //$('#rdPrintYes').prop('checked', true);
        }
        
    }
    function saveTransportation()
    {

    
            var Trasportation = {};
            if ($('.transportation-id').val().trim() != "")
                Trasportation.Id = $('.transportation-id').val().trim();
            Trasportation.ClientId = cid;
            Trasportation.PickupStatus = $('.Pickup:checked').val() == "1" ? true : false;
            Trasportation.PickupAddress = $('#txtPickupAddress').val();
            Trasportation.PickupZipcode = $('#txtPickupZipcode').val();
            Trasportation.DropStatus = $('.Drop:checked').val() == "1" ? true : false;
            Trasportation.DropAddress = $('#txtDropAddress').val();
            Trasportation.DropZipcode = $('#txtDropZipcode').val();
            Trasportation = JSON.stringify({ 'objTransportation': Trasportation });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                async: false,
                url: "/AgencyUser/SaveTransportation",
                data: Trasportation,
                success: function (data) {
                    if (data) {
                       // customAlertSuccess("Record Saved Successfully");
                       
                      
                    }
                    else
                        customAlertSuccess("Sorry,Unable to save details");
                },
                error: function (data) {
                }
            });
        
    }
    //end
</script>


