#Timeline-Style {
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  /* HTML5 display-role reset for older browsers */
}
#Timeline-Style html, #Timeline-Style body, #Timeline-Style div, #Timeline-Style span, #Timeline-Style applet, #Timeline-Style object, #Timeline-Style iframe,
#Timeline-Style h1, #Timeline-Style h2, #Timeline-Style h3, #Timeline-Style h4, #Timeline-Style h5, #Timeline-Style h6, #Timeline-Style p, #Timeline-Style blockquote, #Timeline-Style pre,
#Timeline-Style a, #Timeline-Style abbr, #Timeline-Style acronym, #Timeline-Style address, #Timeline-Style big, #Timeline-Style cite, #Timeline-Style code,
#Timeline-Style del, #Timeline-Style dfn, #Timeline-Style em, #Timeline-Style img, #Timeline-Style ins, #Timeline-Style kbd, #Timeline-Style q, #Timeline-Style s, #Timeline-Style samp,
#Timeline-Style small, #Timeline-Style strike, #Timeline-Style strong, #Timeline-Style sub, #Timeline-Style sup, #Timeline-Style tt, #Timeline-Style var,
#Timeline-Style b, #Timeline-Style u,  #Timeline-Style center,
#Timeline-Style dl, #Timeline-Style dt, #Timeline-Style dd, #Timeline-Style ol, #Timeline-Style ul, #Timeline-Style li,
#Timeline-Style fieldset, #Timeline-Style form, #Timeline-Style label, #Timeline-Style legend,
#Timeline-Style table, #Timeline-Style caption, #Timeline-Style tbody, #Timeline-Style tfoot, #Timeline-Style thead, #Timeline-Style tr, #Timeline-Style th, #Timeline-Style td,
#Timeline-Style article, #Timeline-Style aside, #Timeline-Style canvas, #Timeline-Style details, #Timeline-Style embed,
#Timeline-Style figure, #Timeline-Style figcaption, #Timeline-Style footer, #Timeline-Style header, #Timeline-Style hgroup,
#Timeline-Style menu, #Timeline-Style nav, #Timeline-Style output, #Timeline-Style ruby, #Timeline-Style section, #Timeline-Style summary,
#Timeline-Style time, #Timeline-Style mark, #Timeline-Style audio, #Timeline-Style video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#Timeline-Style article, #Timeline-Style aside, #Timeline-Style details, #Timeline-Style figcaption, #Timeline-Style figure,
#Timeline-Style footer, #Timeline-Style header, #Timeline-Style hgroup, #Timeline-Style menu, #Timeline-Style nav, #Timeline-Style section, #Timeline-Style main {
  display: block;
}
#Timeline-Style body {
  line-height: 1;
}
#Timeline-Style ol, #Timeline-Style ul {
  list-style: none;
}
#Timeline-Style blockquote, #Timeline-Style q {
  quotes: none;
}
#Timeline-Style blockquote:before, #Timeline-Style blockquote:after,
#Timeline-Style q:before, #Timeline-Style q:after {
  content: "";
  content: none;
}
#Timeline-Style table {
  border-collapse: collapse;
  border-spacing: 0;
}